[2020-06-09 01:46] bqi343 opened #1 "Modules"
- Add status to modules
 - Move order out of modules
   - Generally get rid of numbering issues :)

[2020-06-09 01:47] bqi343 opened #2 "Add more topics (not a priority)"
* Min Deque
 * Meet in Middle
 * Ternary Search
 * Boruvka

[2020-06-09 01:48] bqi343 opened #3 "Gold"
- convert "elementary number theory"
 - add binary exponentiation?

[2020-06-09 01:49] bqi343 opened #4 "Plat"
- Plat Trees: HLD, Small to Large problems
 - Strings: just a stub (TJ guide covers it tho?)

[2020-06-09 01:49] bqi343 opened #5 "Adding Problems"
- Add comments below each problem / link.
 - Add problems from spreadsheet to corresponding topics
 - Are we going to release spreadsheet?
 - Clean up syllabus

[2020-06-09 01:50] bqi343 opened #6 "Intro"
- add contest format to getting started
 - Java I/O, more details about I/O for others

[2020-06-09 01:50] bqi343 opened #7 "Bronze"
- Determine which parts of containers go to bronze/silver
 - merge existing articles about containers
 - clean up Darren's links

[2020-06-09 01:54] bqi343 opened #8 "General"
- how to practice
 - contest strategy
 - debugging
   - compilation flags
   - using a debugger

[2020-06-09 01:58] bqi343 opened #9 "Silver"
- clean up silver containers, sorting
 - review binsearch, two pointers, prefix sums, DFS

[2020-06-16 01:10] caoash opened #11 "Review Sorting (Silver)"
Cleaned up sorting, added coordinate compression. Needs some more problems though. Can someone review it?

[2020-06-16 01:11] #11 closed, assigned to nobody

[2020-06-16 02:38] bqi343 opened #12 "Text Alignment?"
<img width="733" alt="Screen Shot 2020-06-15 at 10 37 31 PM" src="https://user-images.githubusercontent.com/21228024/84725561-ef993700-af58-11ea-932e-858f5deeb2e6.png">

[2020-06-16 21:29] #12 closed, assigned to thecodingwizard

[2020-06-24 19:31] bqi343 opened #34 "Tabs for Switching Languages"
ex. in https://usaco-guide.netlify.app/bronze/complete-search, switch between C++ and Java sols

[2020-06-28 15:12] bqi343 opened #36 "Progress Tracking"
Checkmarks for modules, progress bars like [OIChecklist](https://oichecklist.pythonanywhere.com/)

[2020-06-28 15:14] bqi343 opened #37 "Hyperlinks within info-block"
can't distinguish hyperlink from bold text

ex. Plat -> More DP

[2020-06-28 15:58] bqi343 opened #38 "Embedding Colored Tables from USACO Book"
ex. [Ch 11 - Prefix Sums](http://darrenyao.com/usacobook/cpp.pdf)

[2020-06-28 18:55] #37 closed, assigned to thecodingwizard

[2020-06-28 20:05] #38 closed, assigned to thecodingwizard

[2020-06-28 20:16] bqi343 opened #39 "Code Blocks"
- Wrap text in code blocks (ex. promotion counting solution in "Plat -> Merging")
 - Within the first explanation for "Plat -> Slope" I had to put <br /> between the code blocks to make them render properly (otherwise the text within the blocks overlapped with text outside the blocks)

[2020-06-28 20:42] #39 closed, assigned to nobody

[2020-07-03 19:38] bqi343 opened #40 "General"
- [ ] Module descriptions!
- [x] [Module status](https://docs.google.com/spreadsheets/d/1Lu7pRJEgIDxMAVNU3dQ_zt2kvqc_OMEf17STk0X9AE/edit#gid=0)
- [ ] Incomplete articles
   - [ ] clean up silver sorting?
   - [ ] plat
   - [ ] all of advanced
   - [ ] general
     - [ ] debugging
     - [ ] input & output
     - [ ] macros
 - [ ] Resources
   - comments about what resource is about
   - starring (

[2020-07-06 07:33] #34 closed, assigned to thecodingwizard

[2020-07-06 07:50] #1 closed, assigned to nobody

[2020-07-06 07:51] #8 closed, assigned to nobody

[2020-07-06 14:23] #7 closed, assigned to nobody

[2020-07-06 14:24] #3 closed, assigned to nobody

[2020-07-06 14:24] #9 closed, assigned to bqi343

[2020-07-06 14:25] #6 closed, assigned to nobody

[2020-07-06 14:25] #4 closed, assigned to nobody

[2020-07-10 21:48] thecodingwizard opened #41 "Report an Issue / Get Help Buttons"
Functionality incomplete

[2020-07-10 22:18] thecodingwizard opened #42 "Persist Language Preference"
When the user selects a certain language (C++, Java, Python), it should:

1. Update all code snippets that have that supported language, and
2. Save that language preference locally for next time

[2020-07-10 22:52] thecodingwizard opened #43 "Restyle resources/problem lists for mobile"
They aren't very mobile friendly; design can be improved.

[2020-07-13 08:21] thecodingwizard opened #44 "Authors page?"
Somehow give credit to creators & authors of site, either on homepage, in the guide itself, or somewhere?

Is this wanted, and if so, what's the best way to do this?

[2020-07-13 08:28] thecodingwizard opened #45 "Merge help and complain button?"
Should we do this? If so, how do we ensure users will know to click the "complain" button when seeking help?

Perhaps we should rename everything to "Contact?"

[2020-07-13 08:37] thecodingwizard opened #46 "Interactivity!"
One of the primary benefits of our super-complex mdx/gatsby setup is we have the ability to customize basically everything, and to create very interactive modules (think quizzes, animations, live code editors, feedback forms, etc). Almost anything is possible!

Is interactivity worth adding to the guide (at a later time, of course)? If so, where/how? If someone has a specific example of where a cu

[2020-07-13 08:38] thecodingwizard opened #47 "Table of Contents Sidebar"
We should get a Table of Contents sidebar, similar to this site: https://joshwcomeau.com/gatsby/using-netlify-functions-with-gatsby/

[2020-07-13 08:38] thecodingwizard opened #48 "Left Nav Sidebar Improvements"
- Styling should be fixed
- It should auto-scroll to the active link
- It should allow collapsing of groups of modules

[2020-07-13 08:51] thecodingwizard opened #49 "Code style guide?"
Should we enforce a consistent coding style across all our snippets in the guide? If so, which coding style / what are the rules?

(examples: in bronze time complexity, the for loops don't have spaces. In some modules there are a lot of macros used.)

[2020-07-13 19:03] thecodingwizard opened #50 "QoL Improvement: Make USACO Guide a button"
make the USACO Guide text and logo a button that sends you to the homepage

[2020-07-13 21:11] thecodingwizard opened #51 "Full-width code blocks"
We should allow for code blocks to span the full width.

Can be integrated with table of contents nicely. Example: https://joshwcomeau.com/react/rainbow-button/

[2020-07-14 01:24] #50 closed, assigned to thecodingwizard

[2020-07-14 01:26] #45 closed, assigned to nobody

[2020-07-14 03:23] thecodingwizard opened #52 "Searching"
Guide should have a search bar. https://github.com/nextapps-de/flexsearch should do :)

For UI design, add search to the header: https://tailwindui.com/components/application-ui/application-shells/sidebar#component-ba754bf465a594eb075045eb9e940b60

[2020-07-14 05:50] #41 closed, assigned to thecodingwizard

[2020-07-14 05:58] #42 closed, assigned to thecodingwizard

[2020-07-14 18:59] #51 closed, assigned to thecodingwizard

[2020-07-15 03:14] #44 closed, assigned to nobody

[2020-07-15 03:59] caoash opened #53 "General list of tips for each topic?"
For major topics, maybe just a compiled list of tips from competitors regarding that topic just based on experience? Could set this guide apart from other resources, especially since we have so many op competitors ...

[2020-07-15 04:01] caoash opened #54 "More problem tutorial modules?"
Tutorials on challenging problems with bad editorials could be useful, like the one Ben did for springboards [here](https://usaco-guide.netlify.app/gold/springboards), though springboards had a pretty good editorial.

[2020-07-15 05:28] #43 closed, assigned to thecodingwizard

[2020-07-15 05:35] thecodingwizard opened #55 "Update Content Documentation"
Content docs ~~haven't been updated in a really long time...~~ are still missing some parts

[2020-07-15 19:19] caoash opened #56 "AC on problems?"
allow users to mark problems as AC?

[2020-07-16 18:49] thecodingwizard opened #57 ""Focus Problem" styling"
modules usually start with a "focus problem" that's just a standard implementation of a concept. There should be custom styling for this

[2020-07-16 18:54] thecodingwizard opened #58 "Full-Page Problem Editorials"
Current todos

- [x] Add support for official editorials, auto-populate field for USACO problems

[2020-07-16 18:54] #54 closed, assigned to nobody

[2020-07-16 18:56] bqi343 opened #59 "Prerequisites"
Should link to corresponding modules.

[2020-07-16 19:19] #48 closed, assigned to thecodingwizard

[2020-07-16 19:22] #49 closed, assigned to nobody

[2020-07-16 21:42] #59 closed, assigned to thecodingwizard

[2020-07-17 03:20] bqi343 opened #60 ""Contact Us" Form Validation"
Require name, valid email, module, topic, minimum length for message

[2020-07-17 04:47] #47 closed, assigned to thecodingwizard

[2020-07-17 07:50] #56 closed, assigned to thecodingwizard

[2020-07-19 00:51] caoash opened #61 "Modules ready for review? (done content-wise)"
# Content

## Intro

### 1. About This Guide
- [ ] 1.1. Using This Guide
- [ ] 1.2. Modules
- [ ] 1.3. Code Conventions
### 2. Getting Started
- [ ] 2.1. Introduction to Competitive Programming
- [ ] 2.2. Choosing a Language
- [ ] 2.3. Running Code
- [ ] 2.4. Data Types
- [ ] 2.5. Input & Output
- [ ] 2.6. Expected Knowledge
### 3. General
- [ ] 3.1. Additional Resources
- [ ] 3.2. How to Practice

[2020-07-19 01:19] caoash opened #62 "Change options?"
can't solve falls under skipped, so replace it with "ignore"

[2020-07-19 01:19] #53 closed, assigned to nobody

[2020-07-19 15:46] #60 closed, assigned to thecodingwizard

[2020-07-20 01:04] #5 closed, assigned to bqi343

[2020-07-20 02:17] bqi343 opened #63 "List of Excluded Problems"
List CSES, recent USACO problems that are not currently included in the guide (with a bit of web scraping)?

(can we generate list of IDs for all unique problems included within the guide?)

[2020-07-20 03:15] thecodingwizard opened #64 "Use gatsby-image for logo"

[2020-07-20 03:15] thecodingwizard opened #65 "Chapter descriptions"
We should add chapter descriptions (see `content/ordering.ts`) for chapters that need it

[2020-07-20 03:39] #62 closed, assigned to thecodingwizard

[2020-07-20 04:43] caoash opened #66 "Rename "How to Practice" or add more"
[Rename this module or add more to it.](https://usaco-guide.netlify.app/intro/practicing)

Right now it's more "how / when to read editorial" rather than "how to practice" except for a few responses (I think it's because originally it was "how to read editorial").

[2020-07-20 05:17] #64 closed, assigned to thecodingwizard

[2020-07-20 06:41] thecodingwizard opened #67 "orz feature"
Will be especially useful for people like benq and tmw :)

[2020-07-20 20:15] bqi343 opened #68 "TOC Modifications"
- Mark module if it contains `<IncompleteSection>`

[2020-07-21 21:54] bqi343 opened #71 "Links"
https://codeforces.com/blog/entry/80438?#comment-666657

Clicking any link outside the website should open to new tab.

[2020-07-21 21:59] bqi343 opened #72 "Contributions"
https://codeforces.com/blog/entry/80438?#comment-666657

 - make subdirectory a different repo? (will history be transferred to new repo?)
 - are all contributors going to be added to the Discord?

[2020-07-21 22:12] #67 closed, assigned to thecodingwizard

[2020-07-21 22:22] bqi343 opened #73 "Dark Mode"
(from darren)

[2020-07-21 22:28] #46 closed, assigned to nobody

[2020-07-21 22:29] #36 closed, assigned to nobody

[2020-07-21 22:48] bqi343 opened #74 "Login System"
https://codeforces.com/blog/entry/80438?#comment-666686

[2020-07-21 23:29] bqi343 opened #76 "Tabs at Top of Home Page"
https://codeforces.com/blog/entry/80438?#comment-666701

[2020-07-22 01:00] bqi343 opened #78 "Star / Favorite"
Add a "star/favorite" button to modules (and problems?) for easy reference in the future.

https://codeforces.com/blog/entry/80438?#comment-666712

[2020-07-22 02:56] #72 closed, assigned to nobody

[2020-07-22 19:26] #76 closed, assigned to nobody

[2020-07-22 21:14] #52 closed, assigned to thecodingwizard

[2020-07-22 23:14] bqi343 opened #84 "Code Consistency Across Languages"
In DSU, C++ and Java snippets don't do the same thing. Make sure they run (when header is included) on the sample problem.

[2020-07-22 23:28] bqi343 opened #85 "Reviewing Modules"
**All** resources should have descriptions (or shouldn't be included otherwise). There are a lot of these in silver and gold.

If a starred resource is fine on its own, don't feel the obligation to write something after the resource table ...

[2020-07-22 23:30] bqi343 opened #86 "Searching Problems"
## Incomplete Features

Note that this list is not necessarily ordered by importance.

- [ ] Dark Mode #4152
- [ ] better mobile support?
- [ ] search by + display division (Bronze - Plat) of the module that contains the problem
- [ ] option to select a random (unsolved) problem from a division
- [ ] save searches + create problemsets
- [ ] add link to user solutions? ex. https://usaco.guide/probl

[2020-07-22 23:57] bqi343 opened #87 "Convert lists of resources / problems to tables"
Applies to platinum / advanced only? If someone wants to learn one of these topics then preferably clean up the module in the meantime.

[2020-07-23 00:18] #87 closed, assigned to nobody

[2020-07-23 00:19] bqi343 opened #88 "Display topic frequencies on TOC"
https://codeforces.com/blog/entry/80438?#comment-666725

[2020-07-23 00:20] bqi343 opened #89 "Making Notes"
save custom text for future reference (as part of user account?)

https://codeforces.com/blog/entry/80438?#comment-666863

[2020-07-23 15:42] bqi343 opened #92 "Links to Official Editorials"
Use https://github.com/thecodingwizard/usaco-guide/blob/master/content/id_to_sol.json

[2020-07-23 15:45] bqi343 opened #93 "Buttons to Hide / Show Left / Right Sidebars"
(from Appzi)

[2020-07-23 19:09] bqi343 opened #94 "Translations"
https://codeforces.com/blog/entry/80438?#comment-667271
https://codeforces.com/blog/entry/80438?#comment-667280

(lol this will never happen)

[2020-07-23 19:23] #94 closed, assigned to nobody

[2020-07-23 20:36] bqi343 opened #95 "Display the Default 404 Page?"
Former >> Latter

<img width="1122" alt="Screen Shot 2020-07-23 at 4 35 32 PM" src="https://user-images.githubusercontent.com/21228024/88336192-93b59100-cd02-11ea-90ac-0f27496238c7.png">
<img width="1261" alt="Screen Shot 2020-07-23 at 4 35 40 PM" src="https://user-images.githubusercontent.com/21228024/88336195-944e2780-cd02-11ea-9caa-6cd7878113ff.png">

[2020-07-24 07:25] thecodingwizard opened #96 "suggestions from emails"
- [ ] give concrete recommendation for how to run C++? which ide, etc
- [ ] give concrete recommendation on how to do i/o in C++? maybe like a copy-pasteable template?

seems like people just want an answer LOL

weird algo problem java solution from Mrinall Umasudhan (should give credit), part of IO Intro module

[code]

[2020-07-25 04:01] #95 closed, assigned to nobody

[2020-07-25 04:01] #92 closed, assigned to nobody

[2020-07-25 04:02] #88 closed, assigned to nobody

[2020-07-25 04:10] #58 closed, assigned to nobody

[2020-07-25 17:09] #84 closed, assigned to nobody

[2020-07-25 17:12] #85 closed, assigned to nobody

[2020-07-25 17:17] #65 closed, assigned to nobody

[2020-07-25 17:18] #40 closed, assigned to nobody

[2020-07-25 17:19] #61 closed, assigned to nobody

[2020-07-25 17:43] #66 closed, assigned to nobody

[2020-07-25 18:35] dolphingarlic opened #102 "Make the yellow warning triangle next to "Show Sketch" optional"
A lot of the solution sketches aren't vague or incomplete, so it doesn't really make sense for every solution sketch to have a warning saying that it might be vague or incomplete.

Maybe add an option to make the warning optional (which defaults to false)?

[2020-07-25 18:35] #96 closed, assigned to nobody

[2020-07-25 20:18] bqi343 opened #103 "Unable to Connect to Website"
darren - It seems like a lot of ppl are not being able to connect

[2020-07-25 23:01] thecodingwizard opened #104 "Improving Contributor Experience"
- [ ] Update content documentation
- [x] Write checklist for reviewing each module
- [ ] Assign modules to people
- [ ] Code of Conduct (backlog)

[2020-07-26 00:31] #104 closed, assigned to nobody

[2020-07-26 00:32] thecodingwizard opened #105 "Bronze - Time Complexity"
**Somebody needs to write a legit constant factor explanation!!**

# Module Review Checklist

Read through the module and check for errors. Also see: https://usaco-guide.vercel.app/intro/contributing

Languages Checked:

- [x] C++
- [x] Java (Lower priority)
- [x] Python (Optional)

Things to check:

- [x] Frequency is accurate, prerequisites are listed, module description is written
- [x] No typo

[2020-07-26 00:42] thecodingwizard opened #106 "Bronze - Simulation"
# Module Review Checklist

Read through the module and check for errors. Also see: https://usaco-guide.vercel.app/intro/contributing

Languages Checked:

- [x] C++
- [x] Java (Lower priority)
- [x] Python (Optional)

Things to check:

- [x] Frequency is accurate, prerequisites are listed, module description is written
- [x] No typos, explanations are clear, no missing sections
- [x] Table of Conte

[2020-07-26 00:44] #102 closed, assigned to nobody

[2020-07-26 01:08] #55 closed, assigned to nobody

[2020-07-26 01:31] #68 closed, assigned to thecodingwizard

[2020-07-26 01:47] caoash opened #107 "author names for full page editorials"
show author names for full page editorials similar to modules

[2020-07-26 15:03] bqi343 opened #109 "Solution Pages"
Left sidebar on solution pages? Language switching, feedback should be there.

[2020-07-26 18:10] dolphingarlic opened #111 "Use only spaces or only tabs"
Mixing spaces and tabs messes up the indentation and isn't nice. We should all agree on only using one of the two.

[2020-07-26 19:06] #107 closed, assigned to nobody

[2020-07-26 19:12] bqi343 opened #112 "Problem Table Styling"
I would prefer if "Tags" and "Solution" were left-aligned

[2020-07-26 21:20] #105 closed, assigned to frodakcin

[2020-07-26 23:12] caoash opened #114 "Multiple solutions?"
Options for more than one solution? For example, link the official USACO editorial, but also an internal sol with a different approach to the problem?

[2020-07-26 23:29] #114 closed, assigned to nobody

[2020-07-27 15:48] bqi343 opened #116 "Announcement Banner (or Popup)?"
with title of latest announcement in last x days (and option to dismiss).

[2020-07-27 23:19] #112 closed, assigned to nobody

[2020-07-28 07:30] #111 closed, assigned to nobody

[2020-07-28 15:46] bqi343 opened #117 "Make it so that tutorials/external links are dependent on the language."
For ex., in cp-algo - FFT link there is C++ despite being in the Java language. Of course, the information on there is still useful, but it might be cool if the link were made gray / less visible that way it's still accessible but notably less important for Java users.

(from Appzi)

[2020-07-28 15:54] bqi343 opened #118 "Display division on sidebar"
(from Appzi)

[2020-07-28 16:04] bqi343 opened #119 "Content"
- Silver Ad Hoc? (maybe not)
 - Finish Silver Coordinate Compression Explanation
 - add USACO Bronze Problems to intro-ds

[2020-07-28 17:20] bqi343 opened #120 "Throwing Errors?"
If an error is thrown then how do log it to terminal?

related: how to log to terminal within a function (console.log logs to browser console ...)

[2020-07-28 20:29] #117 closed, assigned to nobody

[2020-07-28 20:48] #118 closed, assigned to thecodingwizard

[2020-07-28 20:56] #74 closed, assigned to nobody

[2020-07-29 14:12] bqi343 opened #122 "Rename Intro to General"

[2020-07-29 14:17] bqi343 opened #124 "Website Bug?"
oops idk what these mean @thecodingwizard

[2020-07-29 15:03] dolphingarlic opened #125 "Complete_Rec.mdx breaking the build"
When I try to build the page, I get the following error:

[code]

Indeed, there was a `<JavaSection>` tag without a closing tag, but adding the closing tag doesn't seem to fix the problem.

[2020-07-29 16:52] #125 closed, assigned to nobody

[2020-07-29 17:16] bqi343 opened #126 "Cute Cow Photo"
When are we going to get this? :P

https://github.com/thecodingwizard/usaco-guide/blob/e46b49395e32469146bedd509ab59ba5cfc7e087/src/pages/dashboard.tsx

[2020-07-29 18:41] #124 closed, assigned to nobody

[2020-07-29 21:43] nchn27 opened #128 "Silver Content"
Christian (mmarouane243z@lccweb.org) requested Silver - Intro to Tree and Silver - Functional Graphs be completed so those are probably areas of interest

[2020-07-29 22:29] #63 closed, assigned to nobody

[2020-07-31 04:39] bqi343 opened #132 "Underline solutions w/ hover (ex. "Check CF")"
Appzi - This is super small, but on some places under Solution (I was on gold/string-hashing), I feel like things such as "Check CS" or "Check CF" should be dashed underlined (similar to the contest abbreviations), as they can be hovered over.

[2020-07-31 07:47] #132 closed, assigned to thecodingwizard

[2020-07-31 07:47] #122 closed, assigned to thecodingwizard

[2020-07-31 07:48] #120 closed, assigned to nobody

[2020-07-31 08:57] #57 closed, assigned to thecodingwizard

[2020-07-31 15:21] bqi343 opened #133 "Remove the "Intro" Label"
Doesn't seem useful.

[2020-07-31 16:37] bqi343 opened #134 "Content Requests"
- [ ] Silver - Intro to Tree
   - [ ] Python soln to Subordinates
   - [ ] Java, Python sample code for par,dep,sz (should we even keep this?)
- [ ] Silver - Functional Graphs
   - [ ] Python soln to Badge
   - [ ] Counting Cycles - Find a problem to submit to
   - [ ] Counting Cycles - Solutions in Java, Python, (possible cpp as well)
   - [ ] Tortoise and Hare - Delete the first spoiler? (code t

[2020-07-31 19:50] #133 closed, assigned to thecodingwizard

[2020-07-31 22:07] thecodingwizard opened #135 "yosupo persistent queue problem only in japanese"
https://judge.yosupo.jp/problem/persistent_queue

This problem is only in Japanese. Google Translate => english provides questionable results...

[2020-08-01 01:26] bqi343 opened #136 "Copy & Pasting Code"
When I copy and paste code from [Debugging](https://usaco-guide.vercel.app/general/debugging)

[code]

the newline is removed.

[code]

[2020-08-01 01:28] bqi343 opened #137 "Section Switcher"
<img width="334" alt="Screen Shot 2020-07-31 at 9 27 47 PM" src="https://user-images.githubusercontent.com/21228024/89091078-bdab2b00-d374-11ea-8dd0-aed0b8589275.png">

I think this looks sort of ugly but I'm not sure what would be better.

[2020-08-01 03:07] #136 closed, assigned to thecodingwizard

[2020-08-01 04:14] #137 closed, assigned to nobody

[2020-08-01 05:51] thecodingwizard opened #138 "Active Removed Modules"
From Jose Cazares:

[2020-08-01 06:29] thecodingwizard opened #139 "Integration with main site"
I personally would prefer the top-level page stay; I think it introduces the guide well.

[2020-08-01 06:31] thecodingwizard opened #140 "Top Page Text"
![image](https://user-images.githubusercontent.com/7865976/89095764-df60de00-d385-11ea-86d2-502808c57b3b.png)

- [ ] Update "This is the first-ever .... USACO contestants"
- [ ] Update "Olympiads" section (@bqi343?)

[2020-08-01 06:52] #140 closed, assigned to nobody

[2020-08-01 08:20] #138 closed, assigned to nobody

[2020-08-01 08:39] thecodingwizard opened #141 "Professor Dean Feedback [Umbrella Issue]"
- [x] Integrating w/ USACO homepage (see #139) @thecodingwizard
- [x] User accounts (discussion ongoing) @thecodingwizard
- [x] Top page wording
- [x] William's youtube video monetization (see #145) @thecodingwizard
- [x] Merging resource lists (see #142) @bqi343 (being discussed on slack)
- [x] Olympiad terminology
- [x] Remove "an interesting read" article
- [x] Shorten templates (rules are proh

[2020-08-01 08:48] thecodingwizard opened #142 "Merging resources list"
![image](https://user-images.githubusercontent.com/7865976/89098014-cf062e80-d398-11ea-834a-f5cdf71decb9.png)

@bqi343 your thoughts? 😮

[2020-08-01 14:31] bqi343 opened #144 "Shorten templates"
Which template is too long? :o

[2020-08-01 14:34] bqi343 opened #145 "Monetization / Video"
Wait, why doesn't this apply to "Other Camps and Courses in the USA" on the USACO resources page too?

(I agree that a USACO-focused video would be better)

[2020-08-01 22:25] bqi343 opened #146 "Recursive Search"
Does he expect Java contestants to write `next_permutation` for livestock linkup rather than a recursive function :/

(~~or 8 nested for loops~~)

http://www.usaco.org/current/data/sol_lineup_bronze_dec19.html

The other bronze problem (Back & Forth) technically isn't recursion since you write a separate function for each day ...

[2020-08-01 22:31] bqi343 opened #147 ""Too Specific" Modules"
I think we should leave them as they are. Maybe add some disclaimer in the TOC that they aren't "high-level topics" if that's really necessary.

[2020-08-02 05:17] dolphingarlic opened #148 "Drop-down list or modal for choosing statuses"
From formsubmit

[2020-08-02 15:46] #128 closed, assigned to nobody

[2020-08-05 18:11] dolphingarlic opened #152 "Collapse code by default?"
Idk whether other people feel this way as well, but seeing a wall of code when I open a module (e.g. seeing the code for Bridges in the CHT module) is kinda intimidating and it breaks up the content.

Maybe even just add an option to collapse code?

[2020-08-05 20:23] #146 closed, assigned to nobody

[2020-08-05 20:24] #142 closed, assigned to nobody

[2020-08-06 16:28] dolphingarlic opened #153 "Algolia search doesn't work sometimes"
Not sure whether this is normal, but Algolia doesn't seem to search thoroughly enough.

For example, searching for "CHT" on https://usaco-guide-git-cht.thecodingwizard.vercel.app/ doesn't yield any results even though "CHT" is mentioned several times.

[2020-08-06 19:31] #153 closed, assigned to nobody

[2020-08-09 02:58] caoash opened #157 "Minor Issues"
- [x] Focus problems should open a new tab.
- [x] Hide tags? Once you open them, you can't close them (and some of the tags are long and mess up the page kinda).
- [ ] Different video on the front (preferably from Brian?)

[2020-08-10 01:45] #152 closed, assigned to thecodingwizard

[2020-08-10 05:19] #157 closed, assigned to nobody

[2020-08-10 23:30] bqi343 opened #160 "Greedy Algorithms w/ Sorting"
@darren-yao Define "heuristic or value function."

[2020-08-11 00:54] #160 closed, assigned to nobody

[2020-08-11 01:04] bqi343 opened #162 "Gold Content"
Rearranged some material. "Graphs" (BFS, Shortest Path) and "Data Structures" probably need the most work. Also "Number Theory" ...

Also, clearly mark Olympiad problems that are not Gold level if there are multiple of them. (put in separate table probably)

[2020-08-11 01:12] #147 closed, assigned to nobody

[2020-08-11 01:13] #135 closed, assigned to nobody

[2020-08-11 01:14] #103 closed, assigned to nobody

[2020-08-11 18:09] #119 closed, assigned to caoash

[2020-08-11 20:43] #93 closed, assigned to nobody

[2020-08-12 16:30] bqi343 opened #165 "Sample Input / Output"
Maybe we should have a custom component for this rather than just putting the input/output in a comment at the end of the program?

[2020-08-12 20:02] bqi343 opened #166 "Code Width"
Is there an easy way to check whether the width of any code block exceeds 80 chars? @thecodingwizard

[2020-08-12 21:08] #166 closed, assigned to nobody

[2020-08-13 01:34] #141 closed, assigned to nobody

[2020-08-13 01:35] #144 closed, assigned to nobody

[2020-08-15 20:11] bqi343 opened #170 "Rect Geo"
bad tabbing :/

[2020-08-15 21:31] #170 closed, assigned to nobody

[2020-08-17 16:04] #165 closed, assigned to nobody

[2020-08-17 18:59] bqi343 opened #171 "Option to Hide Tags / Solutions columns"
- some tag columns are currently empty
- maybe reduce the temptation to just click on the solution :P

[2020-08-17 20:30] #148 closed, assigned to nobody

[2020-08-18 21:41] #171 closed, assigned to nobody

[2020-08-18 23:03] bqi343 opened #174 "# Users Online"
Like USACO Training :o
<img width="211" alt="Screen Shot 2020-08-18 at 7 03 01 PM" src="https://user-images.githubusercontent.com/21228024/90573858-7bac2280-e185-11ea-9da6-034d5b14d4fb.png">

[2020-08-18 23:07] bqi343 opened #175 "Firebase / Local Storage"
Make sure it's not possible to set some variable in Firebase before it's loaded?

[2020-08-19 00:18] thecodingwizard opened #176 "Move language/tags/dark mode to settings"
Our bottom sidenav buttons are getting very cluttered, especially on phones. We should move the language/hide tags/dark mode options into a settings dialog.

[2020-08-19 00:38] caoash opened #177 "Dark Mode Issues"
### White space:

silver => binary search on the answer
![image](https://user-images.githubusercontent.com/45920019/90578594-57eadb80-e189-11ea-8db2-624182013088.png)
![image](https://user-images.githubusercontent.com/45920019/90578597-5a4d3580-e189-11ea-98c3-cf4c1860fe1b.png)

### Some graphics are not very darkmode friendly

silver => prefix sums
![image](https://user-images.githubusercontent.co

[2020-08-19 01:32] bqi343 opened #178 "Statistics"
Display progress for the most recent section rather than all modules (same goes for problems).

(Mostly gray bar is sorta intimidating :P)

[2020-08-19 01:33] bqi343 opened #179 "Problem Status -> Module Status"
Automatically change module status from "Not Started" to "Practicing" if status of any problem is changed.

[2020-08-19 02:07] #178 closed, assigned to thecodingwizard

[2020-08-19 03:23] bqi343 opened #180 "Fix Focus Problems?"

[2020-08-19 04:25] #180 closed, assigned to nobody

[2020-08-19 15:00] #73 closed, assigned to thecodingwizard

[2020-08-19 22:57] bqi343 opened #182 "Gold - All Roots"
Someone want to complete this? :P

[2020-08-20 15:10] #182 closed, assigned to dolphingarlic

[2020-08-20 21:19] #175 closed, assigned to nobody

[2020-08-21 01:53] #179 closed, assigned to nobody

[2020-08-21 16:51] bqi343 opened #187 "Problem Counter"
Display # problems done per module on https://usaco-guide.vercel.app/bronze

[2020-08-21 20:10] bqi343 opened #188 "Gold Dijkstra Difficulty?"
Can someone go through all of these and adjust the difficulties? Preferably not so many should be marked "Easy" ...

[2020-08-21 20:21] bqi343 opened #189 "Sort Active Modules / Problems Alphabetically"

[2020-08-21 20:32] #189 closed, assigned to bqi343

[2020-08-21 20:51] #134 closed, assigned to nobody

[2020-08-21 20:52] #106 closed, assigned to nchn27

[2020-08-21 20:53] #162 closed, assigned to caoash

[2020-08-21 21:16] thecodingwizard opened #190 "rewrite userdatacontext"
functionality changes:

- remote data is treated as the most up-to-date version of the data (unless it's empty during first time account creation), and will _override_ local data
- remote data will be fully synced with local data
- on logout, local data will be _completely wiped_

code changes:

- make it more maintainable
- make it easier to add additional data properties

[2020-08-21 22:51] #188 closed, assigned to frodakcin

[2020-08-22 15:44] caoash opened #194 "Screen flashes black when clicking on internal sol"
### Steps to reproduce:

1. Go to [this module](https://usaco-guide.vercel.app/silver/dfs). Maybe it works for others, but this is the one I got the error on
2. Scroll down and click on the internal sol to Flight Routes Check

### Result:
Screen quickly changes to dark mode for less than a second, before changing back.

[Video here](https://streamable.com/gye7a6).

[2020-08-22 17:05] bqi343 opened #196 "Live Update"
Did error handling ever get added? Anyways it doesn't seem to work rn, pasting DSU from `export` onwards doesn't work. @thecodingwizard

[2020-08-22 19:12] #196 closed, assigned to nobody

[2020-08-22 21:21] #190 closed, assigned to nobody

[2020-08-22 21:21] #194 closed, assigned to nobody

[2020-08-23 07:19] #177 closed, assigned to nobody

[2020-08-23 07:22] thecodingwizard opened #197 "Add Settings Popup"
Add a settings modal popup that has three options:

1. Language (C++/Java/Python)
2. Hide tags & solutions (checkbox, yes/no)
3. Dark mode (checkbox, yes/no)

In the module layout, replace the three options in the sidebar with a singular "settings" button that opens the modal popup

For the navbar, replace the "Login/Logout" button with a vertical three-dots dropdown menu with the following option

[2020-08-23 07:23] #126 closed, assigned to nobody

[2020-08-23 07:25] #176 closed, assigned to thecodingwizard

[2020-08-23 07:25] #139 closed, assigned to nobody

[2020-08-23 07:26] dolphingarlic opened #198 "Increase z-axis of the problem status drop-down"
![Screenshot_20200823-092226](https://user-images.githubusercontent.com/31325319/90973461-88809b80-e522-11ea-9ce5-f6b6180aab21.png)

![Screenshot_20200823-092247](https://user-images.githubusercontent.com/31325319/90973455-7999e900-e522-11ea-98be-747eca75087d.png)

[2020-08-23 07:26] #145 closed, assigned to nobody

[2020-08-23 07:42] #198 closed, assigned to thecodingwizard

[2020-08-23 16:58] bqi343 opened #200 "C++ Solution Code for Starred Problems"

[2020-08-25 02:14] thecodingwizard opened #203 "Problem progress bar per group?"

[2020-08-25 02:59] #187 closed, assigned to nobody

[2020-08-25 18:04] thecodingwizard opened #205 "Show confetti after problem is solved?"

[2020-08-25 22:30] caoash opened #206 "Table of Contents"
![image](https://user-images.githubusercontent.com/45920019/91234304-912aca80-e6f8-11ea-8be9-0abf40dfc4ad.png)

To be honest, not a huge fan of this. Maybe just me...

[2020-08-27 23:18] bqi343 opened #212 "Divide & Conquer Section"
ex. Solar Lamps

Should be separate from "Additional DP Optimizations and Techniques" and "Static Range Queries"?

[2020-08-28 01:50] #212 closed, assigned to nobody

[2020-08-28 02:11] #205 closed, assigned to nobody

[2020-08-30 02:08] #200 closed, assigned to nobody

[2020-08-31 15:03] bqi343 opened #217 "Silver Editorials"
- Request for "Labyrinth" in Flood Fill

[2020-08-31 16:31] #217 closed, assigned to thecodingwizard

[2020-09-05 01:59] bqi343 opened #224 "Binary Search on Answer Editorials"
Preparing for Merge Sort, Mobile

[2020-09-05 19:49] bqi343 opened #225 "Gold Descriptions"
and add descriptions to the NT sections

[2020-09-06 01:25] bqi343 opened #227 "Clean up Problem Tags"
maybe only allow searching for tags contained within some list we specify? (and then try our best to follow that list)

[2020-09-06 01:33] bqi343 opened #228 "Display Tags for Focus Problems"

[2020-09-06 01:41] bqi343 opened #229 "Warning for Unused Problems"
If problem is included at top of module but not actually present within the text?

[2020-09-07 00:25] thecodingwizard opened #230 "Add nlogn LIS resource to Intro - DP"
https://usaco.guide/gold/intro-dp#problem-http://www.usaco.org/index.php?page=viewproblem2&cpid=496

err not 100% sure but this solution needs nlogn LIS right? so not solvable with DP? (I think we should just link nlogn LIS tutorial in its section)

[2020-09-07 01:19] caoash opened #232 "it says there's 1 problem but there's 2!!!"
![image](https://user-images.githubusercontent.com/45920019/92339993-502ea080-f07e-11ea-84e8-e6b045a1a856.png)

[2020-09-07 01:37] #232 closed, assigned to nobody

[2020-09-07 19:51] #224 closed, assigned to dolphingarlic

[2020-09-08 14:48] bqi343 opened #236 "Graph Girth Editorial"
https://usaco.guide/solutions/cses-1707

[2020-09-08 14:49] bqi343 opened #237 "Mo's Algorithm"

[2020-09-09 01:44] bqi343 opened #238 "Absorb Material from CPI?"
Most of the material in the advanced PPTs seems redundant (already contained within the guide), although adding Java code and explanations to the guide would be good.

[2020-09-09 23:43] bqi343 opened #239 "LIS"
finish module?

[2020-09-09 23:59] bqi343 commented on #239
Also other gold modules (ex. divisibility)

[2020-09-10 16:34] thecodingwizard opened #243 "Integrate Jonathan Paulson's Youtube Videos"
https://www.youtube.com/channel/UCuWLIm0l4sDpEe28t41WITA

Lots of CSES video solutions, we should add to the solution!

[2020-09-11 17:48] bqi343 commented on #78
Another request for this.

[2020-09-13 16:22] bqi343 opened #248 "Stress Testing Code - Windows"

[2020-09-13 16:36] bqi343 opened #249 "Editorial Request - Sum of Divisors"
See Divisibility module.

[2020-09-13 16:52] bqi343 opened #250 "Automatically Add Blank Line after Code Blocks"
@thecodingwizard

I frequently find myself adding `<br />` after code blocks.

<img width="441" alt="Screen Shot 2020-09-13 at 12 52 02 PM" src="https://user-images.githubusercontent.com/21228024/93023859-f834f400-f5bf-11ea-94aa-dd359310287b.png">

[2020-09-13 17:01] #249 closed

[2020-09-13 17:46] #239 closed

[2020-09-13 19:50] thecodingwizard commented on #250
@bqi343 can you provide me an example? there should already be some margin after a code block...

[2020-09-13 20:01] thecodingwizard commented on #250
Hopefully closed by db823848612f10e0b3c3c64bab4e3b800bd65efb and f4e7614593e74bf2406414741653ff7721892de4 ...

[2020-09-13 20:27] bqi343 commented on #250
Cool

[2020-09-13 20:27] #250 closed

[2020-09-13 20:27] #230 closed

[2020-09-15 05:59] thecodingwizard opened #253 "Additional Matrix Exponentiation"
From Mostafa <3

- http://fusharblog.com/solving-linear-recurrence-for-programming-contest/
- https://www.quora.com/q/threadsiiithyderabad/Solving-Dynamic-Programming-with-Matrix-Exponentiation
- https://codeforces.com/blog/entry/43225
- https://github.com/mostafa-saad/ArabicCompetitiveProgramming/blob/master/04%20Math/Algorithms_Number_Theory_06_Matrix_Power_Applications.pptx
- Problem: BOI 2007

[2020-09-18 16:33] #253 closed

[2020-09-19 23:10] thecodingwizard opened #257 "bit operations resource?"
do we have a module / resources on bit operations?

[2020-09-21 00:04] bqi343 commented on #257
https://cses.fi/book/book.pdf#page=106

[2020-09-21 18:18] thecodingwizard commented on #257
err okay should we make a module for bit operations or stick it into an existing module?

Existing modules w/ bitmasks that I could find:

- bronze complete search with recursion
- plat dp on bitmasks

(oops I didn't look very hard)

[2020-09-21 18:36] bqi343 commented on #257
Could stick "Bit Operations" + "Representing sets" in Bronze? Neither of them will be very useful in any division aside from Plat though ...

[2020-09-21 21:00] bqi343 opened #258 "Paths on Grids"
Some broken formatting. Also, we should be consistent about how we format 2D arrays.

[2020-09-22 02:32] thecodingwizard commented on #257
Maybe like, silver/gold? (might be useful for some subtasks? idk)

I think Bronze shouldn't need bitmasks right?

[2020-09-22 02:39] bqi343 commented on #257
Complete Rec mentions it in a solution though (maybe shouldn't though :P)

[2020-09-22 02:51] thecodingwizard commented on #257
We can just link to the module? I just don't think bronze ppl should be learning bitmasks LOL

[2020-09-22 03:37] caoash commented on #258
what way do you prefer to format them

[2020-09-22 03:41] bqi343 commented on #258
$\texttt{dp}[x][y]$

[2020-09-22 03:42] caoash commented on #258
hmm okay, @anyone which looks best? we should pick and stay consistent, personally I like the second
![image](https://user-images.githubusercontent.com/45920019/93842212-b3fac100-fc5b-11ea-90e8-3664900efdc4.png)

[2020-09-26 00:13] bqi343 opened #268 "Bronze DS"

[2020-09-28 03:46] #236 closed

[2020-09-28 03:49] #225 closed

[2020-09-28 15:04] thecodingwizard opened #274 "Edit on Github should link to specific page"

[2020-09-30 10:40] dolphingarlic commented on #174
I think I'd like to try to implement this. Where would this count go? Maybe on the homepage?

[2020-09-30 15:58] thecodingwizard commented on #174
Sure, or the dashboard or both. Firebase has this: https://firebase.google.com/docs/auth/web/auth-state-persistence but it seems inaccurate... Maybe there's a better way of doing it

[2020-10-01 01:54] bqi343 commented on #71
Can links inside the website be opened in a new tab as well? ex. clicking a prerequisite, live renderer [here](https://usaco.guide/general/contributing#writing-content) should open in a new tab

[2020-10-01 02:54] #274 closed

[2020-10-01 19:01] dolphingarlic opened #287 "Country-specific ordering"
Basically what @eohomegrownapps suggested.

We ideally want to allow other countries to customize the USACO Guide and tailor it to their own national training camp. Such customizations should include:

- Custom landing page
- Custom domain name
- Add/remove modules, sections
- Custom branding / logo / styling (?)

[2020-10-01 19:24] bqi343 commented on #237
attached resource should suffice

[2020-10-01 19:24] #237 closed

[2020-10-01 19:58] thecodingwizard commented on #229
oops I think this would be kind of hard :/ I can't come up with an easy way to do it

Though, it might be technically possible by looping through all the children and searching for problem tables / focus problems and examining their props

but it seems like a lot of work :P

[2020-10-02 02:09] #229 closed

[2020-10-02 17:50] #174 closed

[2020-10-03 18:59] thecodingwizard commented on #287
It's actually fairly doable... just fork the repo and modify ordering.ts. (in fact there might even be a way to do this without having to fork the repo.)

Country-specific modules can then be included/excluded using ordering.ts.

If there's interest in this let me know!

[2020-10-03 19:00] thecodingwizard commented on #258
I'm fine with anything (including inconsistent formatting as long as it's one of the three above LOL)

[2020-10-03 22:09] bqi343 opened #292 "Button / Slider to Give Feedback for Each Module?"
Ex. Clarity 1-5, Difficulty 1-5? Or make "Contact Us" more visible? Or like at the bottom of [this page](https://reactjs.org/docs/hooks-effect.html).

NEED MORE FEEDBACK

[2020-10-03 23:08] thecodingwizard commented on #292
![image](https://user-images.githubusercontent.com/7865976/95003291-b847a800-0592-11eb-9342-8079114705b1.png)

[2020-10-03 23:30] thecodingwizard commented on #292
(partially) implemented on 1d992ed2fea0976dfb2738c9aeb5d96a4eac4dda

[2020-10-04 00:45] thecodingwizard commented on #287
Okay so there's a number of options for country-specific customization:

1. Allow people to fork the repo and deploy by themselves
2. Add a new branch to the repo and deploy it through CPI
3. Add a new repo to CPI organization and deploy it through CPI

I prefer options 2 & 3 because the deployment is a bit nontrivial (search, gatsby build, etc)

One potential workflow can be:

- any content chang

[2020-10-04 03:57] bqi343 commented on #292
Cool, should include email as well :)

[2020-10-04 05:09] thecodingwizard commented on #292
Added in 9d3fad098938b5146a1602bc41ce94366a3d25a5

[2020-10-04 05:51] #71 closed

[2020-10-04 22:37] bqi343 commented on #292
Also keep track of URL where form was submitted (like contact us form)

[2020-10-04 23:02] thecodingwizard opened #293 "Add proper code editor to /liveupdate"
I think Monaco would work quite well; they have reasonable markdown/mdx support.

https://microsoft.github.io/monaco-editor/

[2020-10-05 12:47] MrinallU commented on #197
Is this still going on?

[2020-10-05 16:52] thecodingwizard opened #296 "improve user count accuracy"
- Update Firebase last seen every 30 seconds or something
- Optimize listening to database to reduce bandwidth usage
- (maybe) Run a firebase function to remove users who aren't seen for too long

[2020-10-05 19:25] bqi343 opened #297 "Line #s"

[2020-10-06 16:47] #297 closed

[2020-10-06 16:47] thecodingwizard commented on #297
feel free to reopen if we want line highlighting too https://prince.dev/highlight-with-react

[2020-10-07 01:13] bqi343 commented on #238
So are we doing anything about this? or no

[2020-10-07 01:17] bqi343 opened #302 "Editorials for https://usaco.guide/gold/dp-trees"

[2020-10-07 01:35] thecodingwizard commented on #292
ok I think that is implemented in 1e7f8cb7d232f17df2345151df59d3858a8e9c6e

[2020-10-07 02:20] bqi343 commented on #292
seems fine

[2020-10-07 02:20] #292 closed

[2020-10-13 17:21] bqi343 opened #307 "DFS - Mention Issues With Stack Size"
recursion limit in python :o

[2020-10-15 00:40] thecodingwizard opened #308 "Copying Latex"
https://github.com/KaTeX/KaTeX/tree/master/contrib/copy-tex

[2020-10-15 14:52] bqi343 opened #309 "Two Pointers"
+ Harder Problems

[2020-10-15 14:53] bqi343 opened #310 "Change Variable Names"
Spanish :P

https://usaco.guide/solutions/usaco-787

[2020-10-15 15:16] dolphingarlic commented on #309
What difficulty should we aim for? Would [CEOI 10 Tower](https://oj.uz/problem/view/CEOI10_tower) and [Baltic OI 09 Rect](https://cses.fi/108/list/) be fine or are they too hard for silver? (Tower is DP and Rect is geometry)

[2020-10-15 15:32] bqi343 commented on #309
That first task seems fine. (but how is it DP?) Should probably avoid putting any geometry (unless it's really basic ...)

[2020-10-15 17:37] #309 closed

[2020-10-15 17:48] #310 closed

[2020-10-16 16:13] thecodingwizard commented on #293
Assigned, thanks @TanayB11!

Try to lazy-load if possible.

[2020-10-16 16:14] thecodingwizard commented on #243
Assigned to @Claeb101, thanks!

[2020-10-16 16:16] thecodingwizard commented on #197
Yep. @koxuan is working on this!

[2020-10-16 22:06] bqi343 opened #313 "Gold LIS - Trapezoid Explanation"
@dolphingarlic ?

[2020-10-16 23:26] bqi343 opened #314 "Finish the section of bronze: Intro to greedy algorithms"

[2020-10-17 04:00] dolphingarlic commented on #313
Sure

[2020-10-17 12:41] bqi343 opened #315 "DP with Number Theory"
Tbh I don't have anything to add to this section rn, maybe someone else wants to?

[2020-10-18 20:53] bqi343 opened #316 "Separate Fields for Source / Title for Solutions"
The way we format solution titles is not consistent (I usually add a dash between the source and the title, but others don't). Also have a consistent way of naming solution files?

[2020-10-18 22:53] bqi343 commented on #307
will use much less memory if you use a stack DS compared to a recursive function

[2020-10-18 22:58] bqi343 opened #317 "Memory Allocation"
https://usaco.guide/bronze/intro-ds#memory-allocation

Why 5 million?

Also mention zero initialization

https://www.learncpp.com/cpp-tutorial/62-arrays-part-ii/

What exactly is "program overhead"? :P

(also, specify what exactly memset does)

[2020-10-18 23:55] thecodingwizard commented on #293
Also, copy-pasting Bronze intro DS has some scrolling issues...

[2020-10-19 00:14] bqi343 commented on #317
Closed by 7b3189a

[2020-10-19 00:14] #317 closed

[2020-10-19 00:39] bqi343 opened #318 "Add Blog for SEO"
If I google "usaco" then "usaco-guide.netlify.app" appears on the third page of results but "usaco.guide" doesn't seem to appear at all ...

[2020-10-19 06:24] thecodingwizard commented on #318
Can potentially make a blog about "how to get better at USACO" to improve SEO (?)

[2020-10-20 17:20] bqi343 opened #321 "Editorial for "CEOI 2010-A HUGE TOWER""
https://usaco.guide/silver/2P

[2020-10-20 17:21] bqi343 opened #322 "Bronze Simulation Module"
Add OJ or use different example problems?

[2020-10-20 17:25] bqi343 opened #323 "Counting Haybales"
https://usaco.guide/silver/binary-search-sorted#example---counting-haybales

Update java explanation + documentation

https://docs.oracle.com/en/java/javase/15/docs/api/java.base/java/util/Arrays.html

[2020-10-20 17:30] dolphingarlic commented on #321
Closed in https://github.com/cpinitiative/usaco-guide/commit/a6ba0e815f2dca0f67a1f371a1912cef7009e3a8

[2020-10-20 17:30] #321 closed

[2020-10-20 17:38] caoash commented on #322
what's wrong with just having bronze problems

[2020-10-20 18:48] Claeb101 opened #324 "Silver - Binary Search on a Sorted Array - Resource Error"
Location: Silver -> Binary Search on a Sorted Array -> CSA Binary Search (https://csacademy.com/lesson/binary_search/) -> Binary search on functions section.

The article provides the following code:
`
long long f(int x) {
    return (long long)x * x;
}
int square_root(int x) {
    int left = 0, right = x;
    while (left < right) {
        int middle = (left + right) / 2;
        if (f(middle) <=

[2020-10-20 20:08] bqi343 opened #325 "Add dark mode support for module status dropdowns"
Scrollbar shows up on right only in dark mode.

<img width="326" alt="Screen Shot 2020-10-21 at 12 46 38 PM" src="https://user-images.githubusercontent.com/21228024/96751736-8fe5e900-139b-11eb-9dd7-3361a5a9dd7e.png">

[2020-10-21 16:40] bqi343 commented on #325
Also, color scheme is messed up when you click on problems tab.

[2020-10-21 16:44] bqi343 commented on #324
Could add a short section on off by one errors in either this module or "Binary Search on the Answer"

[2020-10-22 23:29] bqi343 opened #333 "Colors for Dropdown"

[2020-10-22 23:41] bqi343 opened #334 "Bronze Complete Search"
Link some more problems.

[2020-10-23 01:54] MrinallU commented on #333
@bqi343 Sorry about the silly question as it is my first time making a website contribution in this particular repository but, where would I find the file to edit the dropdown?

[2020-10-23 01:57] thecodingwizard commented on #333
I think here: https://github.com/cpinitiative/usaco-guide/blob/master/src/components/MarkdownLayout/MarkCompleteButton.tsx

[2020-10-23 02:01] MrinallU commented on #333
@thecodingwizard Alright, thanks for the fast response, I'll try to get this done by the end of the week.

[2020-10-23 05:09] MasonWang025 commented on #318
Not exactly sure of the situation, but maybe try adding a redirect from usaco-guide.netlify.app to usaco.guide?

`https://usaco-guide.netlify.app/* https://usaco.guide/:splat 301!`

If possible to redirect from Netlify, that'll help SEO for sure. It may take a while for crawlers to discover the redirect.

[2020-10-23 05:18] thecodingwizard commented on #318
nice okay, I added that :)

[2020-10-23 16:24] bqi343 commented on #325
+ live update text is white

[2020-10-23 19:58] MrinallU commented on #333
Added a PR.

[2020-10-23 21:22] MrinallU commented on #333
Would you like the icons to be one color or different colors?

[2020-10-23 21:23] MrinallU commented on #333
![Capture](https://user-images.githubusercontent.com/61529929/97055232-6623f200-1554-11eb-9994-bedbf626ded1.JPG)

[2020-10-23 21:25] thecodingwizard commented on #333
err probably a different color? (also is it just me or are the skipped/ignored icons sort of weird :P)

Also, can we left align the text/icons?

(We can alternatively just use colored dots rather than icons if that's easier)

[2020-10-23 21:37] MrinallU commented on #333
Right I was about to change the skipped and ignored icons and I will change the color to match the nav.

[2020-10-23 22:17] MrinallU commented on #333
Ok I think I finished

[2020-10-23 22:17] MrinallU commented on #333
![Capture](https://user-images.githubusercontent.com/61529929/97058491-fdd90e80-155b-11eb-853e-903194266b0e.JPG)

[2020-10-23 22:19] MrinallU commented on #333
![Capture](https://user-images.githubusercontent.com/61529929/97058608-4a244e80-155c-11eb-8f89-2d3c8d355f60.JPG)

[2020-10-23 22:20] thecodingwizard commented on #333
can we make the icons smaller and left-align everything? (basically make the text aligned)

[2020-10-23 22:25] MrinallU commented on #333
So the smaller icons makes them look weird and blocky so I added the medium sized ones and they look normal. And I just left aligned the text.

[2020-10-23 22:27] thecodingwizard commented on #333
Did you try using the small icons from here: https://heroicons.com/ ?

[2020-10-23 22:37] MrinallU commented on #333
Yes I did

Here is a shot with the small icons:

![Capture](https://user-images.githubusercontent.com/61529929/97059600-d899cf80-155e-11eb-9a53-49d1d35ce7b7.JPG)

[2020-10-23 22:39] thecodingwizard commented on #333
Did you set the height/width to be 20 pixels? `h-4 w-4`

[2020-10-23 22:43] MrinallU commented on #333
So I set all of them to five and all of the other icons look fine I also reset the skipping icon to medium and became smaller like all of the others and doesn't look buggy anymore.

Final Shot:
![Capture](https://user-images.githubusercontent.com/61529929/97059859-b48abe00-155f-11eb-8cd1-a63b6ab29500.JPG)

[2020-10-23 22:47] thecodingwizard commented on #333
hmm, It's supposed to be aligned...

can you paste the relevant code / open a draft PR?

[2020-10-23 22:49] MrinallU commented on #333
` const icon = (status: string) => {
    switch (status) {
      case 'Reading':
        return(<svg
          className="h-5 w-5 text-yellow-300"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"

          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"

[2020-10-23 22:50] MrinallU commented on #333
` {ModuleProgressOptions.map(option => (
                <button
                  key={option}
                  onClick={() => handleSelect(option)}
                  className="inline-flex justify-center w-full rounded-md border border-gray-100 dark:border-gray-800 px-4 py-2 bg-white dark:bg-gray-900 text-sm leading-5 font-medium text-gray-700 dark:text-dark-high-emphasis hover:text-gray-500 da

[2020-10-23 22:51] thecodingwizard commented on #333
Can you double check that the icons are correct (the viewbox properties + some other stuff seems a bit off)?

For example, the check should be:

[code]

(Taken from https://heroicons.com/)

[2020-10-23 22:59] MrinallU commented on #333
When putting yours in all the icon disappears, as a result I changed all of the viewboxes to 20 20 and all the text is aligned however, when using the small code and skip icon it changes to that blocky appearance I was telling you about.

Picture:
![Capture](https://user-images.githubusercontent.com/61529929/97060624-da18c700-1561-11eb-8ace-4d4845d207cd.JPG)

[2020-10-23 23:00] MrinallU commented on #333
![Capture](https://user-images.githubusercontent.com/61529929/97060634-f288e180-1561-11eb-9ff3-b73afd4b69e6.JPG)
More zoomed out for better perspective

[2020-10-23 23:08] thecodingwizard commented on #333
Can you try

[code]

[2020-10-23 23:11] MrinallU commented on #333
![Capture](https://user-images.githubusercontent.com/61529929/97061071-7d1e1080-1563-11eb-9b13-abe04ae5b3dc.JPG)

[2020-10-23 23:11] MrinallU commented on #333
Looks like that ^

[2020-10-23 23:13] thecodingwizard commented on #333
[code]

what about something like this?

[2020-10-23 23:16] MrinallU commented on #333
![Capture](https://user-images.githubusercontent.com/61529929/97061262-45639880-1564-11eb-88ea-5e01869b9fb3.JPG)
Same problems as the one I made.

[2020-10-23 23:19] MrinallU commented on #333
I believe the only thing that made the Practicing and skipped icons look normal was making it medium. So I could just change those two to medium and edit the viewbox for just those two buttons and leave the same dimensions for the rest.

[2020-10-23 23:24] thecodingwizard commented on #333
err wait this shouldn't be happening... I can get something like this:

![image](https://user-images.githubusercontent.com/7865976/97061561-20fbc200-154c-11eb-933c-2b7fcf4bcc64.png)

With this code:

[code]

[2020-10-23 23:41] MrinallU commented on #333
Ok so I looked around in stack overflow and finally got it.

![Capture](https://user-images.githubusercontent.com/61529929/97062185-c3756e80-1567-11eb-8dec-e9d7ceeee4c5.JPG)

[2020-10-23 23:45] MrinallU commented on #333
By the way I really liked the tailwind CSS, I may start using it in my own personal projects as it looks very nice.

[2020-10-23 23:54] thecodingwizard commented on #325
I think all of the aforementioned issues are either fixed or about to be fixed!

[2020-10-24 01:04] thecodingwizard commented on #293
Fixed in #331

[2020-10-24 01:06] thecodingwizard commented on #238
A lot of Java support was added to the guide already, so I'm just going to close this...

[2020-10-24 01:06] #238 closed

[2020-10-24 01:07] thecodingwizard commented on #333
Fixed in #339 , Thanks @MrinallU !

[2020-10-24 01:08] thecodingwizard commented on #325
The scrollbar thing isn't really an issue, and the other two were fixed, so I'll close this :)

[2020-10-24 01:37] MrinallU commented on #333
@thecodingwizard Always happy to help! Also I believe my discord invite expired.

[2020-10-24 01:41] thecodingwizard commented on #333
Oops, here's an invite: https://discord.gg/4mswWSD

We should probably just post this on the readme

[2020-10-24 02:15] MasonWang025 commented on #296
How is user count implemented currently? IIRC there isn't any built-in way to do this.

[2020-10-24 02:29] thecodingwizard commented on #296
We use firebase auth persistence

[2020-10-24 17:42] MrinallU commented on #333
Here we go again....

[2020-10-24 17:43] MrinallU commented on #333
@bqi343 Which type of problem would correlate with what color button?

[2020-10-24 19:39] MrinallU commented on #333
I see what you mean.

[2020-10-24 22:10] bqi343 opened #340 "Intro to DP"
Anything we can do to make this more beginner-friendly? Maybe cut down on the list of links?

[2020-10-24 22:14] thecodingwizard commented on #340
wait I think it's very beginner friendly :P

Maybe include a youtube video if we really want

[2020-10-24 22:19] bqi343 commented on #333
Er this is not my suggestion, I'm just copy pasting from an email.

Should the icon appear next to module status when dropdown isn't opened as well?

[2020-10-24 22:28] bqi343 commented on #293
Add settings (language, hide, etc)?

[2020-10-24 22:29] thecodingwizard commented on #293
See #319

[2020-10-25 01:36] thecodingwizard commented on #325
err I'm fine with the first (dark dropdowns); I think the second is a non-issue since browser default scrollbar works well enough...

[2020-10-25 01:38] thecodingwizard opened #341 "Change Navbar Design"
Our current navbar can get quite cluttered:
![image](https://user-images.githubusercontent.com/7865976/97096909-ea937500-1627-11eb-9e2d-6b70c59f7ff5.png)

We might want to change some stuff (specifically changing the search bar to become a button that then opens into a full-width search?)

[2020-10-25 02:06] MrinallU commented on #333
I will get this one done by next Saturday.

[2020-10-25 04:39] thecodingwizard opened #342 "Standardize colors/components"
Especially since we have dark mode support, it's getting very messy & difficult to stay consistent with colors & components; for example, buttons/modals/dropdowns/text inputs all need both light mode and dark mode support. We should probably refactor common components like buttons, etc. into their own components...

Alternatively, instead of using tailwind color palette so aggressively, we can def

[2020-10-25 04:45] #197 closed

[2020-10-25 15:25] MrinallU commented on #342
Also the dropdown for changing section status needs dark mode support as well.
![Capture](https://user-images.githubusercontent.com/61529929/97111367-bdd96f00-16b4-11eb-9826-a3ea9fe3615c.JPG)

[2020-10-25 20:59] #293 closed

[2020-10-25 21:06] thecodingwizard opened #343 "Integrate liveupdate page"
Instead of an "Edit on Github" link, we should change it to "Edit This Page," and then link to the liveupdate page and autofill the contents of that page w/ the source code for that particular module (might be doable w/ github API or something?). Then, there should be an "open PR" button or something that links to the github edit page where they can copy-paste their changes and open a PR.

(even b

[2020-10-25 21:08] caoash commented on #343
seems useful, however i think liveupdate is very laggy on some larger modules

[2020-10-25 21:09] thecodingwizard commented on #343
I added a debounce, it should be a lot better now? Which module causes the lag? (maybe there should be an option to change the debounce...?)

[2020-10-25 21:11] caoash commented on #343
uhh this was prior to adding that, and I don't remember specifically, I just remember it used to lag

[2020-10-25 21:12] thecodingwizard commented on #343
oh LOL yeah it lagged a lot before. It should be a lot better now... my hope is using liveupdate will be just as good / better than local editing so that it's easier for people to contribute :P

[2020-10-25 21:13] caoash commented on #343
yes i agree

[2020-10-25 21:36] thecodingwizard opened #344 "Add pageview counter per user"
We should track how many page views each user has. We can use this to then selectively prompt users to sign in / give feedback / etc.

The pageview counter can be added as a property in UserDataContext.

[2020-10-25 23:35] thecodingwizard opened #345 "Style sign in / user count info on dashboard page"
![image](https://user-images.githubusercontent.com/7865976/97122019-e75bc000-16df-11eb-96a3-e73e27c2c6ce.png)

We should style this so it doesn't look like a debug message...

Note that when you're not signed in, it prompts you to:

![image](https://user-images.githubusercontent.com/7865976/97122033-fa6e9000-16df-11eb-952d-3aeb09c672b1.png)

We should ideally prompt users to sign in if they aren't

[2020-10-25 23:39] thecodingwizard opened #346 "LMS Features"
- [x] "Admin" accounts to add instructors & view all classes
- [x] View students
- [x] View student progress on homework
- [x] View all student progress on homework (in a tabular format or something) @jeffreymeng
- [ ] Kick/ban students
- [x] Option to submit code for homework problems (#513)
- [x] Search for problems by name

Less important:

- [ ] implement more rigorous firebase rules
- [ ] "Gr

[2020-10-25 23:51] TanayB11 commented on #345
I'll work on this

[2020-10-26 02:45] MrinallU commented on #344
Hmm so overtime we would have to reset the page views on firebase, or the algorithm for feedback would have to account for large amounts of page views, for example, the user might keep viewing pages for years and thus all of the pages they have seen would be in the hundreds or even thousands. I think it's a good idea  as it definitely brings the guide to the next level in terms of interacting with

[2020-10-26 02:48] MrinallU commented on #344
@thecodingwizard So would that meant if we had a componentDidMount function for each of the module components, we could get the firebase data and increment the number of views for that particular page by one. (But there are quite a few module pages in the guide so adding them all to firebase would be a bit tedious)

[2020-10-26 03:56] thecodingwizard commented on #344
We can probably implement this in the layout component similar to how `updateStreakEffect` is implemented. We don't really need to reset views...

[2020-10-26 06:07] thecodingwizard commented on #344
Assigned to @koxuan , thanks! :)

[2020-10-27 01:07] MrinallU commented on #341
@thecodingwizard I can do this.

[2020-10-27 01:08] MrinallU commented on #341
@thecodingwizard So other than changing the search bar what else would you need to me to get done?

[2020-10-27 01:09] MrinallU commented on #344
@thecodingwizard I think you forgot to assign him.

[2020-10-27 05:06] thecodingwizard commented on #344
For some reason I can't add him; Github won't let me. I'm not sure why oops

[2020-10-27 05:07] thecodingwizard commented on #341
Stuff here: https://github.com/cpinitiative/usaco-guide/labels/website (especially the Blog :P)

And also feel free to help with content issues as well.

Thanks! :)

[2020-10-27 19:06] bqi343 opened #348 "Complete Search with Recursion - Java Code"
https://usaco.guide/bronze/complete-rec

[2020-10-27 19:08] thecodingwizard commented on #348
meh, I think it's fine as is :P but I'm down to change it too if we want

[2020-10-27 19:34] bqi343 opened #349 "Mention Bug when using Recursion w/ Vector push_back"
https://codeforces.com/blog/entry/83241?#comment-705458

[2020-10-27 21:41] MrinallU commented on #341
@thecodingwizard Essentially what I had in mind was a component like the problem search, with a route in the navbar containing the new search component.

[2020-10-28 00:06] bqi343 opened #350 "DFS - Python Code"

[2020-10-28 16:17] bqi343 opened #352 "Link to JoinCPI"
Link to https://joincpi.org/

[2020-10-28 16:26] thecodingwizard commented on #352
Added in bae53a15412a3af8d0ef2d5fccb38c70cf939fcc

![image](https://user-images.githubusercontent.com/7865976/97465810-a93ce700-18ff-11eb-856e-fd4941746f04.png)

Not too sure what to put oops

[2020-10-28 16:26] #352 closed

[2020-10-29 00:27] thecodingwizard opened #355 "add website testing framework?"
I'm not sure if it's worth the time though...

https://firebase.google.com/docs/emulator-suite

[2020-10-30 13:35] bqi343 commented on #302
Request for POI hotels ...

[2020-10-30 16:43] bqi343 commented on #349
closed by 5eb9b75

[2020-10-30 16:43] #349 closed

[2020-10-30 20:11] bqi343 opened #358 "Link http://ide.thecodingwizard.me/"

[2020-10-30 20:14] thecodingwizard commented on #358
Lol where xD

[2020-10-30 20:15] bqi343 commented on #358
probably just under https://usaco.guide/general/running-code#running-code-online if you think that's okay?

[2020-10-30 20:33] thecodingwizard commented on #358
ok I updated java; what about python needs to be updated? (I just changed the vercel link to the domain name)

[2020-10-30 20:34] bqi343 commented on #358
The input code changed

https://usaco.guide/general/io#standard-io

[2020-10-31 01:29] thecodingwizard commented on #318
Unless someone wants to implement a blog, I'm thinking of just using novela's blog theme and setting up a reverse proxy with cloudflare or something (https://blog.cloudflare.com/subdomains-vs-subdirectories-improved-seo-part-2/) :P

[2020-10-31 02:53] #358 closed

[2020-10-31 03:10] thecodingwizard opened #360 "benq USACO repo code browser"
We should have a page on the USACO Guide that searches benq's repo: https://github.com/bqi343/USACO and offers the following functionality:

- search
- prettify
- undo certain macros (lol this might be a bit hard idk)

[2020-10-31 07:13] thecodingwizard commented on #318
never mind I'll just implement this real quick ig

[2020-10-31 15:22] bqi343 opened #361 "COI-palinilap editorial"
@dolphingarlic

[2020-10-31 15:32] bqi343 commented on #334
Linked to CP2 & USACO Training. If necessary, can probably find some probs from Kattis? Virginia Tech HSPC?

[2020-10-31 15:32] #334 closed

[2020-10-31 15:45] dolphingarlic commented on #361
Closed in https://github.com/cpinitiative/usaco-guide/commit/c291af24ec66eb0fc37acd0fa06d3202eb45f998

[2020-10-31 15:45] #361 closed

[2020-10-31 17:24] thecodingwizard commented on #318
actually it might be better to just implement a nice FAQ page rather than an entire blog system

[2020-10-31 18:38] thecodingwizard opened #362 "USACO FAQ Page"
We're looking to make a nice FAQ page in order to help with SEO.

- Put FAQ content here: https://github.com/cpinitiative/usaco-guide/blob/feature/faq-page/src/faq.mdx
- Can use content from here: https://darren-yao.gitbook.io/darren-s-blog/usaco-faq (Thanks Darren!)
- Try to structure the content in a way that helps SEO

Also we need a nice photo for the FAQ page

[2020-10-31 18:38] thecodingwizard commented on #318
gonna close this in favor of #362

[2020-10-31 18:38] #318 closed

[2020-10-31 20:23] dolphingarlic commented on #302
Why is Hotels even in this section? Anyway, I have the code for this problem, so I can write an editorial for it

[2020-11-02 00:45] MrinallU commented on #333
Created a PR.

[2020-11-02 00:49] MrinallU commented on #341
@thecodingwizard Can you assign me to this so I don't forget?

[2020-11-02 00:59] MrinallU commented on #333
@thecodingwizard Where would I find the file to edit the problem progress dropdowns?

[2020-11-02 01:29] thecodingwizard commented on #333
I think here: https://github.com/cpinitiative/usaco-guide/blob/master/src/components/markdown/ProblemsList/ProblemStatusCheckbox.tsx

[2020-11-02 02:18] MrinallU commented on #355
@thecodingwizard I have some experience in testing, which framework and what kinds of tests did you have in mind?

[2020-11-02 02:20] thecodingwizard commented on #355
honestly I'm not sure, maybe e2e tests to make sure every page renders okay?

testing user context api would be nice but it's probably not worth the effort

[2020-11-02 02:23] MrinallU commented on #355
Any specific framework you had in mind?

[2020-11-02 02:24] thecodingwizard commented on #355
no, I'm fine with anything (though cypress was nice last time I used it iirc)

https://github.com/shlomif/testing-static-sites might be useful (?)

[2020-11-02 02:27] MrinallU commented on #355
Alright this may take some time but seems pretty straight forward, I'll create the framework, make some basic tests and create a PR/ask what specific features should be tested.

[2020-11-02 16:51] bqi343 opened #366 "DP on Broken Profile"
https://usaco.guide/adv/dp-more

[2020-11-02 18:46] bqi343 opened #367 "Vectorization"
https://codeforces.com/blog/entry/84257?#comment-718314

Should create a new module rather than combining w/ lambdas.

(Also, which pragmas actually make a difference lol)

[2020-11-05 02:31] thecodingwizard opened #372 "add WilliamFiset videos"
https://www.youtube.com/channel/UCD8yeTczadqdARzQUp29PJw

His videos are pretty nice (though there isn't C++ code); probably worth adding to modules as needed

[2020-11-06 18:45] bqi343 opened #376 "Two Pointers - SAPO Problem"
https://usaco.guide/silver/2P

@dolphingarlic

[2020-11-07 01:43] #344 closed

[2020-11-07 01:44] #116 closed

[2020-11-07 23:06] bqi343 opened #383 "Maximal Editorial"

[2020-11-07 23:14] #314 closed

[2020-11-08 15:38] #376 closed

[2020-11-08 15:45] bqi343 opened #385 "Completion Dates for Modules / Problems"
Like USACO Training?
<img width="521" alt="Screen Shot 2020-11-08 at 8 34 46 PM" src="https://user-images.githubusercontent.com/21228024/98491139-e491bc80-2201-11eb-8563-c823e3f612ef.png">

[2020-11-08 15:46] bqi343 opened #386 "Copying Problem URLs to Clipboard"
When accessed from the dashboard, you get smth like the following:

https://usaco.guide/bronze/complete-rec/#problem-http://www.usaco.org/index.php?page=viewproblem2&cpid=857

There should be a way to obtain such a link from the module directly.

[2020-11-08 15:56] bqi343 opened #387 "Kattis - Java I/O"
Mention kattio - https://open.kattis.com/help/java

[2020-11-08 22:21] bqi343 opened #389 "USACO January 2018 Silver - Lifeguards"
https://usaco.guide/solutions/usaco-786

@Farrius

[2020-11-09 01:34] bqi343 commented on #345
Can we remove the user count for now?

[2020-11-09 01:37] thecodingwizard commented on #345
sure (cdc4cd57e5ada38407cc7e34bb5e0367185f3cd8)

[2020-11-09 19:52] thecodingwizard opened #390 "Bronze Sets & Maps Java"
https://usaco.guide/bronze/intro-sets#inserting--deleting-keys-while-iterating doesn't have Java support...

[2020-11-10 18:19] dliu426 opened #399 "searching in editor"
[
![Screen Shot 2020-11-10 at 10 18 24 AM](https://user-images.githubusercontent.com/59348162/98714800-30498080-233e-11eb-98bc-5cb3c7cbf819.png)
](url)

[2020-11-11 02:04] MrinallU commented on #360
How would one go about doing this, as in how would we connect the repo to the site?

[2020-11-11 02:06] thecodingwizard commented on #360
Github should have an API (or we can just copy the repo's content)

[2020-11-11 02:21] #333 closed

[2020-11-11 02:35] #399 closed

[2020-11-11 02:37] #387 closed

[2020-11-11 03:09] MrinallU commented on #355
![Capture](https://user-images.githubusercontent.com/61529929/98760469-56ecd300-23a1-11eb-8267-5b91c79190ef.JPG)

Cypress has been implemented :)

[2020-11-11 03:14] MrinallU commented on #360
I'm willing to work on this.

[2020-11-11 03:20] MrinallU commented on #355
@thecodingwizard Should I PR?

[2020-11-11 03:22] thecodingwizard commented on #355
Draft PR? (What tests did you add?)

[2020-11-11 03:23] thecodingwizard commented on #355
Maybe some basic tests would be:
-user auth
-module progress
???

Some of these might be better as unit tests honestly

[2020-11-11 03:25] MrinallU commented on #355
Alright I'll do user auth first.

[2020-11-11 03:26] thecodingwizard commented on #355
Ok. Firebase auth testing might be a bit nontrivial so if you can't get that working no worries

[2020-11-11 03:29] MrinallU commented on #355
Hmm, I see that now, but I'll give it my best shot!

[2020-11-11 03:31] MrinallU commented on #355
Can I get the firebase config from the firebase console?

[2020-11-11 03:33] thecodingwizard commented on #355
The config is in firebasecontext.tsx

[2020-11-11 03:36] MrinallU commented on #355
Oops, didn't see that.

[2020-11-11 12:47] MrinallU commented on #355
Can you send me the JSON file that you get from generating a new private key in firebase? I need it to write the tests for firebase I will add it to gitignore so it stays private.

[2020-11-11 19:38] thecodingwizard commented on #360
Sure, go for it! http://ekzlib.herokuapp.com/home Might be helpful

[2020-11-11 19:39] thecodingwizard commented on #355
Oops sorry, I don't think it is safe to distribute private keys for firebase (I'm not an expert on security oops). I think you should be able to write tests without those private keys? What specifically do you need them for? If you want I can add a delete user account function or something.

[2020-11-11 21:23] MrinallU commented on #355
![Capture](https://user-images.githubusercontent.com/61529929/98865734-d8903f80-2439-11eb-9e5c-ebed7dbe0ce6.JPG)
I need it for using the tools for the testing that are provided in the above repository screenshot, I believe the url to the repo is in the screenshot so you can read through it see if there are any other ideas for using the tools. If you know of any good alternatives I'm open to anythi

[2020-11-11 21:37] thecodingwizard commented on #355
hm... I don't know much about testing oops. If that is really the only option, then you can set up a new firebase project just for testing purposes?

Also, it might be easier just to write some unit tests for UserDataContext? not sure...

[2020-11-11 21:59] MrinallU commented on #360
Right, so I'll probably try fetching the data from the repository first.

[2020-11-11 22:51] MrinallU commented on #355
It is a bit tricky but I'll try experimenting a bit and I'll let you know.

[2020-11-12 01:03] frankieliu opened #402 "https://usaco.guide/general/io https://usaco.guide/bronze/intro-ds java centric"
The IO section is java centric, could you please add the corresponding optimizations for c++, since it is the suggested language of choice at harder levels.

The similar can be said of the data structures section, why give java so much time in this guide, just stick with c++, is there any advantage to writing this guide in anything else but c++, it makes it confusing for the reader.  Perhaps if yo

[2020-11-12 01:19] frankieliu commented on #402
Not an issue, settings dictates what content is seen.

[2020-11-12 01:19] #402 closed

[2020-11-12 01:21] thecodingwizard commented on #402
yeah, it's not that obvious where language settings are right now :(

[2020-11-12 04:59] #340 closed

[2020-11-12 15:12] MrinallU commented on #355
Ok so I completed the auth testing by making my own sample firebase project and everything seems to be working fine.

[2020-11-12 17:03] bqi343 commented on #389
closed by 57f2042

[2020-11-12 17:03] #389 closed

[2020-11-13 20:56] dliu426 commented on #360
I think you should considering using [Git Submodules](https://github.blog/2016-02-01-working-with-submodules/) to link his repo to here. Then you could just query the files.

[2020-11-13 21:16] thecodingwizard commented on #360
Or Gatsby GitHub plugin

[2020-11-14 01:34] thecodingwizard opened #412 "Sketchy bronze graph problems"
https://usaco.guide/bronze/intro-graphs/

- http://www.usaco.org/index.php?page=viewproblem2&cpid=965
- http://www.usaco.org/index.php?page=viewproblem2&cpid=1013

Both really should not be graphs problems...?

[2020-11-14 02:03] caoash commented on #412
Swappity swap is?

At least silver is, so I guess bronze can be viewed as graph too

[2020-11-14 02:05] thecodingwizard commented on #412
wait even silver swappity swap is a bit of a stretch to be a graphs problem... it's like math / permutation cycles (?) but not graphs....

[2020-11-14 02:09] thecodingwizard commented on #412
ok i just removed livestock lineup and unstarred swapity swap 97c0acdb84bbbc7f0f35d3fae3568be3fcf7a750

[2020-11-14 02:09] #412 closed

[2020-11-14 02:24] thecodingwizard opened #413 "livestock lineup graphs bronze"
https://github.com/cpinitiative/usaco-guide/blob/master/content/2_Bronze/Intro_Graphs.mdx

[code]

todo:

- unstar it (?)
- write internal solution to explain the graphs solution ig (for when n = 1e5 or smth)

[2020-11-14 03:21] MrinallU commented on #360
Thanks for the suggestions guys!

[2020-11-14 03:22] MrinallU commented on #355
@thecodingwizard Should I PR?

[2020-11-14 03:59] MrinallU commented on #360
@dliu426 I'll probably use your suggestion, thanks for bringing it to my attention!

[2020-11-14 04:03] caoash commented on #412
permutation -> functional graph!

[2020-11-14 04:05] thecodingwizard commented on #355
sure, submit a draft PR maybe?

for user auth, when logging in for the first time, it should prompt to upload local progress to the server. we might want to test this functionality...

[2020-11-15 03:45] bqi343 commented on #413
closed by 900e88d (unless someone wants to add to explanation)

[2020-11-15 03:45] #413 closed

[2020-11-15 03:48] bqi343 opened #416 "CSES Flight Discount Alternative Sol"
https://usaco.guide/solutions/cses-1195

[2020-11-15 07:20] frodakcin commented on #323
https://github.com/cpinitiative/usaco-guide/pull/417

[2020-11-15 07:20] #323 closed

[2020-11-16 00:35] frodakcin commented on #322
https://github.com/cpinitiative/usaco-guide/pull/423

[2020-11-16 00:42] frodakcin commented on #315
Think it's being discussed here: https://github.com/cpinitiative/usaco-guide/pull/382

[2020-11-16 00:47] frodakcin commented on #257
I think we should have a silver/bit_operations module. In general, it's good to know.

Maybe something simple like implementing addition using bitwise operators as an example/for practice.

Also reminds me that sos dp is a thing... would that be plat or advanced?

[2020-11-16 01:29] frodakcin commented on #258
https://github.com/cpinitiative/usaco-guide/pull/424 Is this correct?

[2020-11-16 01:39] frodakcin commented on #350
The problem is, I couldn't get a standard arraylist/list to ac in the cses system.

[2020-11-16 01:39] thecodingwizard commented on #350
it's fine if it doesn't AC -- I think it's better to use standard arraylist and just be like "make sure you get 9/10 test cases, the last one is expected to TLE" or something

[2020-11-16 01:40] frodakcin commented on #350
holy shit u replied fast, but ok sg

[2020-11-16 01:53] frodakcin commented on #350
https://github.com/cpinitiative/usaco-guide/pull/388
Thanks Andrew!

[2020-11-16 02:17] #258 closed

[2020-11-17 02:18] dongliu0426 opened #429 "Icons not showing"
![Screen Shot 2020-11-16 at 6 18 09 PM](https://user-images.githubusercontent.com/59348162/99337937-25a85300-2838-11eb-9407-168965b74390.png)

[2020-11-17 02:32] MrinallU commented on #360
@thecodingwizard So I finished getting all the files from Benjamin's repo! Now I need some help in regards to the UI aspect, is there any kind of sample react component I can see for putting in the content of the repo, also how would I get the syntax highlighting in the site for displaying the code?

[2020-11-17 02:43] thecodingwizard commented on #360
For syntax highlighting, you probably want to use a variant of CodeBlock, which can be found in `components/markdown/CodeBlock/CodeBlock.tsx`. Honestly syntax highlighting can be added easily later on; I wouldn't worry about it too much for now. Simply using a `<pre>` tag should suffice.

I'm not sure what you mean by "putting in the content of the repo"?

[2020-11-17 02:46] thecodingwizard commented on #360
Also I just realized that we'll have to somehow parse the description from the top of each file and then store everything in algolia so we can search it... I may have underestimated the complexity of this oops :P

(Also I can't find any C++ code prettifier??)

[2020-11-17 03:08] MrinallU commented on #360
@thecodingwizard If we take it one step at a time, I can focus on creating the page in the site for storing all the code (similar to the problems section of the site). After that I'm positive we can figure something out for searching :)

[2020-11-17 03:10] MrinallU commented on #360
@thecodingwizard Also, I don't quite understand what "undoing certain macros" really means.

[2020-11-17 03:12] MrinallU commented on #429
@dongliu0426 Oh, I haven't coded that up yet, as I have been busy developing some other features for the site so I'll be sure to work on that after I finish the other tasks. Seems to be a trivial task so I'll get to it as fast I can!

[2020-11-17 03:28] thecodingwizard commented on #360
Ben uses a lot of OP macros like trav(x, v). Undoing that would become for (auto &x : v)

(They're c++ macros)

[2020-11-17 03:57] MrinallU commented on #346
Wow, so like alphastar huh. How can I help?

[2020-11-17 04:05] dongliu0426 opened #430 "Logo in dark mode forum"
![Screen Shot 2020-11-16 at 8 04 51 PM](https://user-images.githubusercontent.com/59348162/99345396-0d8c0000-2847-11eb-9803-c34172b50008.png)

[2020-11-17 04:13] thecodingwizard commented on #346
just pick a feature that you feel like doing! :)

[2020-11-17 04:15] MrinallU commented on #346
@thecodingwizard I'll probably do "Student View (view class as a particular student, including for homework assignments)" then.

[2020-11-17 04:16] MrinallU commented on #346
@thecodingwizard But how exactly would I edit the LMS page? Sorry for the silly questions.

[2020-11-17 04:17] thecodingwizard commented on #346
No worries, ~~we really need to write better docs oops~~. Everything related to classes is here: https://github.com/cpinitiative/usaco-guide/tree/master/src/components/Classes

(Feel free to refactor the code as necessary)

[2020-11-17 05:33] thecodingwizard opened #431 "Prompt users for problem feedback"
When someone marks a problem as solved, we should prompt them to give feedback:

- How difficult they found the problem
- Their solution code
- Solution notes
- Tags (?)
- How good was the problem

(Also, option to suggest a problem)

[2020-11-17 18:21] MrinallU commented on #355
@thecodingwizard Hmm what file is this in, and if applicable what function is this stored in? Also would this be better as a end to end or a unit test?

[2020-11-17 18:24] MrinallU commented on #355
@thecodingwizard Also can you explain to me what the user context api does, no docs really explain it lol, it's pretty hard to write tests for an a complex api without knowing what exactly it does.

[2020-11-17 18:32] MrinallU commented on #386
@thecodingwizard How do you guys store the completion status of the problems, as someone could probably add a new row to the table and store the current date using the same storage process as the problem status.

[2020-11-17 18:33] thecodingwizard commented on #355
it's in `context/UserDataContext/UserDataContext.tsx`. I'm not sure if e2e or unit test is better; e2e is probably easier but unit test is probably more ideal.

User Data Context handles all user data. It should probably be replaced by mobx https://mobx.js.org/README.html at some point.

If it's too hard to get testing set up, then don't worry about it -- much of the code should be refactored anyw

[2020-11-17 18:36] thecodingwizard commented on #386
It's stored as a key-value pair where key = problem ID and value = problem status; it's certainly possible to store the current date too but I'm not sure how DB migrations will work, and I'm also not sure how to add a date into the UI. (Also adding a date is for issue #385, not this issue)

[2020-11-17 21:14] MrinallU commented on #355
@thecodingwizard Got it, so I'll PR all of the more stable tests I created.

[2020-11-17 21:20] MrinallU commented on #386
@thecodingwizard Oops, I typed in the wrong issue lol.

[2020-11-17 21:52] MrinallU commented on #431
@thecodingwizard So essentially have a feedback modal which then sends to whatever email that you guys use for feedback correct?

[2020-11-17 22:11] thecodingwizard commented on #431
hmm. ideally it should hook up to firebase or github issues or something...

[2020-11-17 22:12] MrinallU commented on #431
Ohhh, that makes things a bit harder to be honest here.

[2020-11-17 22:12] MrinallU commented on #431
Unless, there is some kind of feedback field in firebase for each problem.

[2020-11-17 22:13] thecodingwizard commented on #431
there isn't. we'll have to think about how to structure it in firebase....

[2020-11-17 22:13] thecodingwizard commented on #431
maybe implement the problem suggestion first? that can be hooked up to github issue API which should be easier.

[2020-11-17 22:14] MrinallU commented on #431
Yeah sure I'll get to it as soon as I can.

[2020-11-17 22:17] MrinallU commented on #431
@thecodingwizard It might take a little longer because I'm probably going to do much more CP training to make it to usaco gold for the next month or so 😅.

[2020-11-17 22:21] thecodingwizard commented on #431
no worries. good luck!! :)

[2020-11-17 22:24] MrinallU commented on #431
@thecodingwizard Thanks, by the way have you guys ever thought about making lectures or walkthroughs with a youtube channel? I'm fairly sure it will boost your popularity and spread the word about all of the resources CPI provides.

[2020-11-17 22:33] thecodingwizard commented on #431
no, it seems too hard to grow a youtube channel, and video lectures already exist for a lot of CP topics...

[2020-11-17 22:35] MrinallU commented on #431
@thecodingwizard That's does seem to be the case, plus many other people are creating some nice CP content on youtube so we probably are better off focusing on the live classes.

[2020-11-18 00:59] thecodingwizard commented on #385
github contribution style maybe? or stopstalk-ish?

[2020-11-18 14:24] bqi343 commented on #350
+ Python Code

[2020-11-18 20:01] bqi343 commented on #385
Can we take this off the backlog? Would definitely be useful for retaining users.

[2020-11-18 20:02] thecodingwizard commented on #385
does this mean I actually have to think about how to implement it D:

[2020-11-18 20:35] thecodingwizard commented on #385
@bqi343 what counts as an "activity" (the things that count towards the colored blocks)? Just completing modules / completing problems, or does "practicing" a module count as well?

[2020-11-18 20:41] bqi343 commented on #385
Oops I didn't mean to self-assign.

Completing modules / completing problems would make sense.

[2020-11-18 20:42] thecodingwizard commented on #385
ok so:

- module progress changing to "Practicing" or "Complete" = +1
- problem progress changed to "Complete" = +1

Also, separately:

- each pageview = +1

Does this work?

[2020-11-18 20:44] bqi343 commented on #385
Sure. Why pageviews though? (Do you mean +1 if visited on a certain day?)

[2020-11-18 20:45] MrinallU commented on #385
@thecodingwizard I'm kind of confused, how does this pertain to module dates?

[2020-11-18 20:45] thecodingwizard commented on #385
idk, pageviews seems nice (and also rewards dumb people like me who can't always solve one problem a day D:)

also it's fairly easy to implement I think

[2020-11-18 20:46] thecodingwizard commented on #385
when designing dates we should also design it in a way that allows github contribution style visualization...

[2020-11-18 20:47] MrinallU commented on #385
@thecodingwizard Ohh ok, your right it doesn't seem too hard to implement.

[2020-11-18 22:28] MrinallU commented on #360
@thecodingwizard Is it fine if we just manually place BenQ's repo directly into the project?

[2020-11-18 22:34] thecodingwizard commented on #360
preferably not...

[2020-11-18 22:36] thecodingwizard commented on #360
eventually this would be hooked up to Github API I hope. For development purposes I guess it's okay to just copy paste the repo?

[2020-11-18 22:36] MrinallU commented on #360
Alright

[2020-11-18 23:10] thecodingwizard commented on #355
Oh this is neat: https://firebase.google.com/docs/emulator-suite

[2020-11-18 23:11] MrinallU commented on #355
I'll take a look

[2020-11-18 23:17] thecodingwizard commented on #257
I think this was closed by frodakcin at some point :heart:

[2020-11-18 23:17] #257 closed

[2020-11-18 23:18] thecodingwizard opened #434 "Stick Divisions Solution"
CSES Stick Division's linked solution isn't immediately obvious? https://usaco.guide/silver/greedy/#problem-https://cses.fi/problemset/task/1161

https://en.wikipedia.org/wiki/Huffman_coding#Basic_technique
https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-02-introduction-to-eecs-ii-digital-communication-systems-fall-2012/readings/MIT6_02F12_chap03.pdf#page=6

[2020-11-18 23:35] MrinallU commented on #355
![Capture1](https://user-images.githubusercontent.com/61529929/99601078-b2841580-29cc-11eb-9a33-520dfe16a9f4.JPG)
Like add me as an editor or something, if you can't for security purposes I understand.

[2020-11-18 23:37] thecodingwizard commented on #355
firebase emulator requires you to be an editor? I thought it didn't need that.

Also since more people are using the guide now, I'm not really comfortable granting additional people access to the database, sorry about that :(

[2020-11-18 23:38] thecodingwizard commented on #355
honestly I don't think it's worth implementing testing at the moment -- extra dev time would probably be better spent migrating UserDataContext into mobx or something, so I'll just close this issue for now.

[2020-11-18 23:38] #355 closed

[2020-11-18 23:44] MrinallU commented on #355
Yeah that's true lol, testing sucks 😋

[2020-11-19 00:20] thecodingwizard commented on #385
https://github.com/frappe/charts charts :heart:

[2020-11-19 00:20] MrinallU commented on #385
Yo thats cool

[2020-11-19 00:23] MrinallU commented on #385
@thecodingwizard Using the charts we can make a whole page for user stats

[2020-11-19 21:14] thecodingwizard opened #435 "update tailwind css to 2.0"
tailwind css 2.0 is pretty neat :heart:

Unfortunately it breaks like half of our website :/

[2020-11-20 00:36] thecodingwizard commented on #385
okay I have an idea for how to implement module / problem activity:

- Make a giant list of user "activities"
- Every time the user changes module status or problem status, append to user activities list
  - Include type of activity, timestamp, activity payload (module/problem ID + what the new status is)
- When making the chart, somehow make a list of timestamps that count (for example, if the us

[2020-11-20 00:38] MrinallU commented on #385
@thecodingwizard And one would store the list in firebase?

[2020-11-20 00:39] thecodingwizard commented on #385
yes

[2020-11-20 00:40] MrinallU commented on #385
@thecodingwizard Makes sense, if you want me to do it and refer back to you for guidance or if you want to do it yourself I'm fine either way.

[2020-11-20 00:49] MrinallU commented on #435
@thecodingwizard Just curious how does it break the site, like are the components not compatible with some other stuff?

[2020-11-20 00:57] thecodingwizard commented on #385
I'll just do it myself since it seems a bit complicated.

Also, I realized that a singular list of activities doesn't work very well with our current setup, so I'm thinking of just splitting it into two lists; one for problems, one for modules.

We should really figure out a good backend database soon oops

[2020-11-20 00:59] MrinallU commented on #385
@thecodingwizard I have experience with MySQL so let me know if you need help to refactor to a SQL style database.

[2020-11-20 15:00] MrinallU commented on #345
![Capture](https://user-images.githubusercontent.com/61529929/99814472-06027a80-2b17-11eb-8c94-140093d176e8.JPG)
@thecodingwizard How's this? All I need to do is remove the email at the top which is trivial but other than it's just a matter of your feedback!

[2020-11-20 15:01] MrinallU commented on #345
@thecodingwizard I just placed the Display name as on the welcome dashboard to make it look a bit cleaner.

[2020-11-20 16:53] thecodingwizard commented on #345
Hmm, how would we show the sign in prompt if they aren't signed in though?

[2020-11-20 18:16] MrinallU commented on #345
hmm...

[2020-11-20 18:17] MrinallU commented on #345
If they are not signed in then keep the message at the top and if they are not then remove it?

[2020-11-20 18:19] thecodingwizard commented on #345
I don't think that looks much better than what we have now.

[2020-11-20 18:19] MrinallU commented on #345
@thecodingwizard The name on the banner or the message on the top?

[2020-11-20 18:26] MrinallU commented on #345
![Capture](https://user-images.githubusercontent.com/61529929/99836332-ed548d80-2b33-11eb-836a-ae4a7d9e2cac.JPG)
@thecodingwizard How about this?

[2020-11-20 18:27] MrinallU commented on #345
@thecodingwizard Can you show me where the original sign in now message was so I can see how you put in the link to signin?

[2020-11-20 18:27] thecodingwizard commented on #345
idk, I don't like it very much because that doesn't really belong there (it doesn't have anything to do with the CTA).

@MrinallU just look at the source code? it's in the same file I think?

[2020-11-20 18:28] MrinallU commented on #345
@thecodingwizard What do you have in mind then?

[2020-11-20 18:30] thecodingwizard commented on #345
idk lol, if I knew I would just implement it :P

[2020-11-20 18:31] MrinallU commented on #345
@thecodingwizard So just to be clear you don't want the user's name showing on the Welcome Back screen correct?

[2020-11-20 18:32] thecodingwizard commented on #345
I don't see the point? So yes, let's not show their name unless other people like it.

[2020-11-20 18:33] MrinallU commented on #345
Ok then

[2020-11-20 18:34] MrinallU commented on #345
@thecodingwizard I guess come back to it later?

[2020-11-20 18:40] MrinallU commented on #345
@thecodingwizard How did you get the tiny box to appear to let everybody know about usaco forum? It could be applied to alert people to sign in.

[2020-11-20 18:41] MrinallU commented on #345
![Capture](https://user-images.githubusercontent.com/61529929/99837718-0b22f200-2b36-11eb-9d20-0d61e6c6d5a5.JPG)
I mean this thing

[2020-11-20 18:43] thecodingwizard commented on #345
it's in markdownlayout somewhere...

It looks ugly though and will probably be removed at some point :P

[2020-11-20 18:43] MrinallU commented on #345
Oof

[2020-11-20 18:44] MrinallU commented on #345
@thecodingwizard I'm in chem right now, and should really start paying attention, so I'll carry on the discussion after I brainstorm a little.

[2020-11-21 02:02] #434 closed

[2020-11-21 02:04] bqi343 opened #437 "MooBuzz BinSearch Sol"
https://usaco.guide/silver/binary-search-ans

tbh I'm not sure why anyone would do this with binary search

[2020-11-21 16:36] MrinallU commented on #346
@thecodingwizard So for this do I only show student's the classes they are enrolled in?

[2020-11-21 17:37] MrinallU commented on #341
@thecodingwizard Just making sure a full width search just means a page like the problems search but with the modules

[2020-11-21 18:12] thecodingwizard commented on #346
wait we already do that... student view is for the instructors to view their class from the perspective of a particular student.

[2020-11-21 18:14] MrinallU commented on #346
I kinda need to see instructor view to see what the instructors see. Or if you have any other ideas let me know, I'm kinda new to editing something like the LMS so I may need some assistance with my first issue here.

[2020-11-21 18:15] MrinallU commented on #346
@thecodingwizard Or with student view we can temporarily sign them in with the particular student's account without showing their password

[2020-11-21 18:16] MrinallU commented on #346
I'd rather you let me know how you need me to go about this rather than me wasting time doing something wrong ( Sorry, PTSD from adding the testing framework)

[2020-11-21 18:21] thecodingwizard commented on #346
Oops sorry, I am a bit busy so I don't think I'll be able to explain step-by-step what needs to be done. Perhaps consider working on some other issues (#325, the many content issues that we haven't fixed yet)?

[2020-11-21 18:22] MrinallU commented on #346
@thecodingwizard Sure! Sorry for being a bother I just don't want to mess things up.

[2020-11-21 18:25] thecodingwizard commented on #341
no... I was thinking of a search icon button that would expand to become full width when clicked (or something similar). Or, alternatively, when clicking the search icon a full-page popup for search appears; that is probably fine too. I just want the ability for users to search without having to leave their page.

[2020-11-21 18:32] MrinallU commented on #341
Ohhhh, I got you!

[2020-11-21 20:03] thecodingwizard commented on #437
should we write an internal sol, or should we just remove this problem (given that we have so many other binary search problems)?

[2020-11-22 00:26] MrinallU commented on #346
@thecodingwizard So when will you have some time?

[2020-11-22 00:35] thecodingwizard commented on #346
I won't be able to walk you through step-by-step how to make the appropriate changes. The relevant files are here: https://github.com/cpinitiative/usaco-guide/tree/master/src/components/Classes and https://github.com/cpinitiative/usaco-guide/blob/master/src/context/ClassContext.tsx (rip the code is in need of refactoring). This might be a bit difficult if you aren't familiar with firebase / contex

[2020-11-22 00:45] thecodingwizard commented on #346
Oops I just realized you might need an instructor account to properly test this -- if you aren't able to make a new class at https://usaco.guide/class/, DM me your email address & I'll add you as an instructor.

[2020-11-22 00:46] MrinallU commented on #346
@thecodingwizard  bossguy124567@gmail.com

[2020-11-22 00:46] MrinallU commented on #346
@thecodingwizard Yes it is my actual email please dont judge

[2020-11-22 00:48] thecodingwizard commented on #346
alright I just added you

[2020-11-22 02:25] thecodingwizard commented on #435
yeah, some classes changed + twin.macro isn't supported (but we should get rid of that) + some colors changed + some text sizes changed...

[2020-11-22 02:25] thecodingwizard commented on #435
also, thanks @Laphatize for helping! :)

[2020-11-22 04:20] MrinallU commented on #346
@thecodingwizard Thanks, this makes things much much easier!

[2020-11-22 04:45] Laphatize commented on #346
hey, i've worked with some LMS tools that schools use. i'd love to add a feature where teachers can just sync their grades with X platform

[2020-11-22 04:48] thecodingwizard commented on #346
sure, what platforms? (google classroom by any chance?) We use the LMS system to run our own classes too.

[2020-11-22 04:48] MrinallU commented on #346
@Laphatize For grades we need quizes.

[2020-11-22 04:48] Laphatize commented on #346
google classroom, schoology, and alma

[2020-11-22 04:48] thecodingwizard commented on #346
How does the integration work specifically?

[2020-11-22 04:49] MrinallU commented on #346
@thecodingwizard https://developers.google.com/classroom

[2020-11-22 04:49] Laphatize commented on #346
traditionally, i just exported the grades as a csv file and loaded them into the gradebook using an extension.

but for things like google classroom i'm sure they have a solid api we could use

[2020-11-22 04:50] Laphatize commented on #346
i'll make a proof of concept tmrw

[2020-11-22 05:46] MrinallU commented on #346
@thecodingwizard Making some progress, but if I can make a quick critique, this code is SUPER messy. Later we might want to make it a little more readable.

[2020-11-22 06:49] thecodingwizard commented on #346
Feel free to do refactor it now :)

[2020-11-22 09:22] Farrius commented on #389
I am sorry, I have to check my email more often.  If you are curious
(probably you know it already) der = derecha = right, iz = izquierda =
left, res = respuesta = response.

Missatge de Benjamin Qi <notifications@github.com> del dia dj., 12 de nov.
2020 a les 18:03:

[2020-11-22 15:15] bqi343 commented on #86
Request for searching by source (ex. USACO Plat) + difficulty.

[2020-11-22 15:19] bqi343 commented on #437
Removed in 97b5316.

[2020-11-22 15:19] #437 closed

[2020-11-22 16:33] Laphatize commented on #346
@thecodingwizard could you add me as instructor pranavramesh2022@gmail.com

[2020-11-22 20:45] thecodingwizard commented on #86
Difficulty is questionable... (Wormhole sort is both easy and insane XD)

[2020-11-22 22:32] Hanaffi commented on #431
@thecodingwizard Can you assign it to me?

[2020-11-22 22:33] MrinallU commented on #431
I'm working on this but if you can get it done faster then go at it!

[2020-11-22 23:04] thecodingwizard commented on #431
Sorry @Hanaffi, I think @MrinallU is working on it. Feel free to pick another feature to work on though. Thanks! :)

[2020-11-22 23:13] MrinallU commented on #346
@thecodingwizard So I made a general student view where the teachers can look at all of their published announcements in homework, but it can't go into a particular student's data. Do you want to have that or a student view for each user in the class?

[2020-11-23 01:36] thecodingwizard opened #439 "helpcross silver editorial unclear?"
http://www.usaco.org/current/data/sol_helpcross_silver_feb17.html

the code does not match with the analysis...

[2020-11-24 01:16] bqi343 opened #440 "Additional Problem Dropdown Options?"
At the very least, there should be a way to mark a problem and have it show up on the dashboard in a section distinct from active problems.

[2020-11-24 01:18] MrinallU commented on #440
@bqi343 Would you mean like a mark as favourite option?

[2020-11-24 01:20] bqi343 commented on #440
Not sure. I guess something like starring and unstarring (if there weren't any starred problems initially ...)

[2020-11-24 01:44] bqi343 opened #441 "friendcross"

[2020-11-24 02:00] bqi343 commented on #439
Closed by 575ad8e

[2020-11-24 02:00] #439 closed

[2020-11-24 02:05] MrinallU commented on #440
@bqi343 So basically each problem should have an option to be starred, excluding the ones that were starred by the authors? And then in the dashboard there should be an additional section that displays a list of the problems starred by the user and each problem must be a link to it's corresponding place in the guide, correct?

[2020-11-24 02:06] bqi343 commented on #440
Sure. Though maybe should use an icon other than star :P @thecodingwizard thoughts?

[2020-11-24 02:07] MrinallU commented on #346
![image](https://user-images.githubusercontent.com/61529929/100037186-a1be1000-2dcf-11eb-911a-d6b9641f20b1.png)
@thecodingwizard So right now I have a class page which has a specific class id which then shows the students followed by their workspace link.

[2020-11-24 02:07] MrinallU commented on #346
@thecodingwizard Right plus the instructor of the class, so their name can be displayed as well.

[2020-11-24 02:14] thecodingwizard commented on #346
Perhaps a class name would be more beneficial than an author name.

Also, make sure there's some way to ensure that students do not have access to other students' urls.

[2020-11-24 02:16] thecodingwizard commented on #440
Don't we already have functionality for this? "Skipped" problems would essentially be the "Hard Difficulty" problems to come back to at a later time; they are distinguished in the active problems section by the skipped tag. Also, I'm not too sure how useful making a distinction between "Solving" and "Reading Solution" is...

[2020-11-24 02:24] bqi343 commented on #441
closed by ce0869

[2020-11-24 02:24] #441 closed

[2020-11-24 02:25] thecodingwizard commented on #206
I'll close for now, feel free to reopen if anyone has ideas...

[2020-11-24 02:25] #206 closed

[2020-11-24 02:29] thecodingwizard commented on #440
Should we close this issue then?

[2020-11-24 02:30] #440 closed

[2020-11-24 08:56] Hanaffi commented on #362
Assign it to me pls

[2020-11-24 09:00] Hanaffi commented on #386
@thecodingwizard  Can you assign it to me?

[2020-11-24 17:01] thecodingwizard commented on #362
@Hanaffi Check out https://github.com/cpinitiative/usaco-guide/tree/feature/faq-page too

[2020-11-24 17:02] thecodingwizard commented on #386
@Hanaffi finish your other issue first (FAQ Page)! ;)

[2020-11-25 19:05] thecodingwizard commented on #348
closing unless someone feels strongly one way or another

[2020-11-25 19:05] #348 closed

[2020-11-25 19:06] #322 closed

[2020-11-25 21:37] Hanaffi commented on #362
@thecodingwizard
I just have exams next week (Mid term) so I might have a delay for a week.

[2020-11-25 22:39] nchn27 commented on #390
Added

[2020-11-25 22:39] #390 closed

[2020-11-26 02:11] bqi343 commented on #313
@dolphingarlic

Trapezoids is here:

https://usaco.guide/plat/range-sweep#problems

(w/o a linked sol)

[2020-11-26 02:11] bqi343 commented on #315
module is gone

[2020-11-26 02:11] #315 closed

[2020-11-26 02:13] bqi343 commented on #302
seems like most are present now

[2020-11-26 02:13] #302 closed

[2020-11-26 03:38] qpwoeirut commented on #416
I've written the described solution. Should I add it on to the existing solution file?

My solution is at https://cses.fi/paste/1c10d6f5f0a2634513cd15/. If you want, I can incorporate the template from the Code Conventions module for consistency.

[2020-11-26 03:40] thecodingwizard commented on #416
please do, thanks!

[2020-11-26 07:49] dolphingarlic commented on #313
Should I just link the official editorial? http://boi2011.ro/resurse/tasks/trapezoid-sol.pdf

[2020-11-26 17:29] bqi343 commented on #313
sure

[2020-11-26 17:30] #416 closed

[2020-11-26 17:45] dolphingarlic commented on #313
Closed with https://github.com/cpinitiative/usaco-guide/commit/256ef725e37c3e9a504657db1e6823de3b5f91c3

[2020-11-26 17:45] #313 closed

[2020-11-26 17:59] #350 closed

[2020-11-26 18:00] bqi343 commented on #307
Closed by #388

[2020-11-26 18:00] #307 closed

[2020-11-26 18:42] #383 closed

[2020-11-26 20:16] thecodingwizard commented on #345
No clue how to do this (I tried https://github.com/cpinitiative/usaco-guide/tree/alt-signin-dashboard but didn't really work that well), and looks like you're busy with other issues, so I'll just close this for now.

[2020-11-26 20:16] #345 closed

[2020-11-26 20:44] bqi343 commented on #86
Taking min difficulty could be okay. Also,

Hide tags as well?

[2020-11-26 22:12] bqi343 commented on #430
@thecodingwizard ?

https://meta.discourse.org/t/automatic-dark-mode-color-scheme-switching/161593

[2020-11-26 22:33] thecodingwizard commented on #430
yep this is supported by Discourse. We just need a dark mode logo XD

[2020-11-26 22:49] thecodingwizard commented on #430
![image](https://user-images.githubusercontent.com/7865976/100395671-9f89ca80-2ff6-11eb-99d4-da04d46f33f8.png)

aight I made one real quick

[2020-11-26 22:49] #430 closed

[2020-11-28 16:01] bqi343 opened #447 "Tree Distances II Solution"
https://usaco.guide/silver/intro-tree

[2020-11-29 15:06] #447 closed

[2020-11-29 23:44] bqi343 opened #451 "Grayed out module title on TOC"
@thecodingwizard want to take a look?

Intro DS, Intro to Graphs

<img width="764" alt="Screen Shot 2020-11-29 at 6 44 22 PM" src="https://user-images.githubusercontent.com/21228024/100556815-eab01180-3272-11eb-921d-efb506c438dc.png">
<img width="289" alt="Screen Shot 2020-11-29 at 6 43 07 PM" src="https://user-images.githubusercontent.com/21228024/100556802-d10eca00-3272-11eb-9866-d126ad8404f7.pn

[2020-11-29 23:48] bqi343 opened #452 "Rewrite Intro DS Python w/o using "list" as a variable name"
https://usaco.guide/bronze/intro-ds

[2020-11-29 23:50] bqi343 commented on #452
Should mention list comprehensions (or link to a source that does).

[2020-11-30 01:53] thecodingwizard commented on #451
shouldn't be a bug -- did you mark those as ignored?

[2020-11-30 01:55] bqi343 commented on #451
Ah.

[2020-11-30 01:55] #451 closed

[2020-11-30 03:16] bqi343 opened #453 "Rewrite Simulation Example Code"
https://usaco.guide/bronze/simulation

Input & Output should be consistent with IO module (https://usaco.guide/general/io)

 - C++ - IO module doesn't mention use of `FILE*`, either mention it in IO module or change in this module.
 - Java - cleaner with `Kattio`
 - Python - redirect `sys.stdin` and `sys.stdout`

[2020-11-30 19:21] bqi343 opened #455 "BSearch Ans Java"
https://usaco.guide/silver/binary-search-ans

[2020-11-30 19:22] bqi343 opened #456 "0/1 BFS Section"
https://usaco.guide/gold/bfs

[2020-11-30 19:22] bqi343 commented on #268
another request for this ...

[2020-12-01 00:22] #308 closed

[2020-12-01 12:58] dolphingarlic commented on #456
Just a single problem (e.g. https://oj.uz/problem/view/BOI13_tracks) and an explanation of how to use 0/1 BFS, right?

[2020-12-02 01:02] MrinallU commented on #431
@thecodingwizard So I have the modal implemented 🥳 but now we need to figure out what happens when you submit the feedback.

[2020-12-02 01:06] MrinallU commented on #431
@thecodingwizard Also when submitted I don't have access to firebase so you may need to do that, also if we hooked it up to github issues we would have way too many issues just because the magnitude of problems and users is far too great.

[2020-12-02 01:16] thecodingwizard commented on #431
@MrinallU just connect the project to your own firebase project and lmk which settings / rules you need me to configure?

[2020-12-02 01:18] MrinallU commented on #431
@thecodingwizard So like when submitting the form like where would I put the feedback? Like with each user's data with a collection called problem feedback.

[2020-12-02 01:22] thecodingwizard commented on #431
no -- perhaps make a new root-level collection called problem_feedback or something, where each document within the collection will store info such as which user submitted it, etc. (and then somehow build an admin interface to view the suggested problems)

[2020-12-02 01:38] #456 closed

[2020-12-02 01:50] MrinallU commented on #431
@thecodingwizard This may take a few weeks to be honest.

[2020-12-02 01:53] MrinallU commented on #431
@thecodingwizard For the admin interface https://retool.com/use-case/firestore-admin-interface would this work?

[2020-12-02 01:58] thecodingwizard commented on #431
It's probably better to just build one out ourselves? It would only need to support viewing the list of problem feedbacks and marking problem feedbacks as "done" for now.

[2020-12-02 15:04] bqi343 opened #459 "Point Update Range Sum"
https://usaco.guide/gold/PURS

[2020-12-03 20:06] #459 closed

[2020-12-04 16:00] bqi343 opened #464 "Copy Pasting Code"
Ex. https://usaco.guide/solutions/cses-1081#solution-1

Doesn't work properly ...

[2020-12-04 17:38] #464 closed

[2020-12-06 08:02] tachithanhdanh opened #466 "Two Pointers Editorial for the Books Problem from CF"
https://usaco.guide/silver/2P
The Codeforces Editorial for the Books Problem (https://codeforces.com/blog/entry/6864) is full of Russian so I cannot understand what it was saying. Would you mind adding some code or some hints to help me understand the way of solving the problem?

[2020-12-06 15:20] MrinallU commented on #431
Alright, I will probably have to make a seperate app for the admin interface though, so they can search through the problems and filter by done.

[2020-12-06 19:36] bqi343 commented on #466
Google translate works well enough. Anyways, added.

[2020-12-06 19:36] #466 closed

[2020-12-08 00:02] bqi343 opened #469 "Exercise"
<img width="900" alt="Screen Shot 2020-12-07 at 7 01 04 PM" src="https://user-images.githubusercontent.com/21228024/101419714-96cea980-38be-11eb-8741-a343ca80c8cc.png">

Should show up as part of Knapsack DP rather than DP_NT.

[2020-12-08 02:42] MrinallU commented on #346
@thecodingwizard Can I make it so that if you are the creator of the class then you have access to all of the student's url and if you are not then you can only see the things that you have created alongside the instructor's URL?

[2020-12-08 03:24] MrinallU commented on #431
@thecodingwizard The Ui for the admin problem feedback doesn't need to be fancy right?

[2020-12-08 03:25] thecodingwizard commented on #431
Yeah as long as it works (for now) :P

Styling can be relatively easily added later anyway

[2020-12-08 05:30] dongliu0426 commented on #360
FYI, the the endpoint for the content of benq's repo is https://api.github.com/repos/bqi343/usaco/git/trees/master (if you need it)

[2020-12-08 22:40] frodakcin commented on #453
Currently, I'm using Method 1 in the IO section, except without the `with ...  as ...:` operator. Is redirecting stdin & stdout better?

[2020-12-08 22:42] bqi343 commented on #453
Yes.

[2020-12-08 22:44] frodakcin commented on #453
Ok I'll change it

[2020-12-08 23:23] thecodingwizard commented on #469
uh oh....

[2020-12-08 23:34] frodakcin commented on #453
Out of curiosity, why is it better?

Is it because it's the easiest to convert between standard io and file io?

[2020-12-08 23:37] thecodingwizard commented on #469
should be fixed now. There's actually a bigger bug (feature? 😉) here... problem modules don't automatically update.

[2020-12-08 23:37] #469 closed

[2020-12-09 12:32] topazand commented on #452
I think list comprehension is useful:

[2020-12-09 18:55] allenli873 commented on #452
true

[2020-12-09 22:41] #452 closed

[2020-12-10 18:21] dolphingarlic opened #476 "SOS DP appears twice"
SOS DP appears in both /adv/dp-more and /adv/dp-sos. Which should we keep? /adv/dp-sos seems more complete right now

[2020-12-10 20:18] thecodingwizard commented on #476
let's keep /adv/dp-sos? @bqi343 @frodakcin

[2020-12-10 20:19] bqi343 commented on #476
sure

[2020-12-11 23:41] bqi343 commented on #248
closed by 446d521

[2020-12-11 23:41] #248 closed

[2020-12-12 00:12] bqi343 commented on #78
Marking a problem as "Reviewing" seems good enough for now.

[2020-12-12 00:12] #78 closed

[2020-12-12 00:21] bqi343 commented on #86
O also contest I guess (ex. Open 19)

[2020-12-12 00:23] bqi343 commented on #386
What would this look like? (Double click on a row of the table to display or copy a URL to clipboard?)

[2020-12-12 01:30] bqi343 commented on #228
seems not so important

[2020-12-12 01:30] #228 closed

[2020-12-12 01:31] thecodingwizard commented on #386
maybe hover? (like what the heading tags are right now). On mobile, perhaps add another column at the very end? not sure

[2020-12-12 01:37] bqi343 commented on #316
closed by ee78824

[2020-12-12 01:37] #316 closed

[2020-12-12 04:29] bqi343 commented on #476
closed by 5cc9a49

[2020-12-12 04:29] #476 closed

[2020-12-13 03:52] #109 closed

[2020-12-13 03:52] #429 closed

[2020-12-13 22:17] bqi343 opened #483 "Add language to feedback emails"

[2020-12-15 14:12] MrinallU commented on #386
@thecodingwizard Where in the dashboard would this be as there is only a place for the modules?

[2020-12-15 14:14] MrinallU commented on #89
Would you leave noted for the module or each problem?

[2020-12-15 15:20] bqi343 commented on #89
each problem

[2020-12-15 15:22] bqi343 commented on #386
A bit confused, what does this have to do with modifying the dashboard?

[2020-12-15 15:22] MrinallU commented on #89
So then when you click on the notes link of something would we have a popup where the user can make and save the notes

[2020-12-15 15:24] MrinallU commented on #386
I'm kinda confused here, I thought you guys said the problem links should be displayed from the dashboard.

[2020-12-15 15:42] bqi343 opened #484 "links to Darren's website no longer working"
Referenced here: https://usaco.guide/bronze/time-comp

[2020-12-15 22:55] bqi343 commented on #483
closed by 88ad78b

[2020-12-15 22:55] #483 closed

[2020-12-16 20:00] #484 closed

[2020-12-16 20:05] bqi343 opened #487 "Platinum - Range Queries with Sweep Line"
https://usaco.guide/plat/range-sweep

[2020-12-16 22:51] thecodingwizard commented on #89
wait would people actually use this feature? :O (what notes would they take?)

[2020-12-16 23:32] MrinallU commented on #431
@thecodingwizard So I have everything ready.

[2020-12-16 23:34] MrinallU commented on #431
The only thing you need to do on your end  is make a problemFeedback (It needs to have this as it is in the code) collection, and make it in the rules so users can write to that collection in the database.

[2020-12-16 23:36] MrinallU commented on #431
@thecodingwizard From there you should be able to see the modal  submission values show up in the database.

[2020-12-16 23:42] MrinallU commented on #89
@thecodingwizard I think it is better to have general module notes so they can set reminders to themselves (ie what problems they want to do) or other stuff, for example many textbooks have the note taking functionality that I use constantly to have a quick summary to comeback to if I need a quick refresher on the topic. Imo it's a nice little feature to have in the guide to make it a little bit m

[2020-12-17 00:50] MrinallU commented on #431
@thecodingwizard Right now I have it so it is connected to my database, after you add the new problemFeedback collection you  should test it with the official guide database (change it back in the firebase context file). Please let me know if there are any problems with the feedback system.

[2020-12-17 00:50] MrinallU commented on #431
@thecodingwizard I'll make a PR.

[2020-12-17 01:07] Hanaffi commented on #341
@thecodingwizard
Something like this: https://www.youtube.com/watch?v=2yfLpNALc1g ?

[2020-12-17 01:11] bqi343 commented on #89
place to paste code for a problem (and share it)? :o

[2020-12-17 01:11] thecodingwizard commented on #341
actually, why don't we just make the search bar into a search button, and then when they click the search button a modal pops up? something like https://tailwindcss.com/

Would this be better?

[2020-12-17 01:13] thecodingwizard commented on #89
wouldn't this be more like "when you're done with a problem, we prompt you to leave feedback on difficulty, paste your code, and write an editorial"?

(And then we let other people view code/editorial, sort of like oj.uz)

[2020-12-17 01:15] Hanaffi commented on #341
@thecodingwizard Yeah, Thats even better.
I can finish it quickly.
May you assign it to me?

[2020-12-17 01:16] thecodingwizard commented on #341
alright, it's assigned :)

[2020-12-17 01:20] MrinallU commented on #341
@thecodingwizard I'm almost done with this but it's fine if hanaffi wants to try.

[2020-12-17 01:21] bqi343 commented on #89
sure

[2020-12-17 01:21] thecodingwizard commented on #341
I don't want to overload you since you're already working on numerous other issues, so if it's alright with you I think it's best if Hanaffi takes this one

[2020-12-17 01:22] thecodingwizard commented on #89
in that case can we close this for #431 ?

[2020-12-17 01:23] MrinallU commented on #341
@thecodingwizard That's true the BenQ repo  browsing is kinda hard so I think he can take care of the easier ui issues way faster than me.

[2020-12-17 01:23] bqi343 commented on #89
I guess this would be separate (but still useful)?

[2020-12-17 01:24] MrinallU commented on #89
@thecodingwizard So like would we make a new issue of making some kind of solutions page which gets solution code from the problem feedback collection?

[2020-12-17 01:25] thecodingwizard commented on #89
do people actually need to take notes on modules though? ~~oops I never take notes on anything~~ (and if they do, couldn't they just take notes on like google keep or something?)

[2020-12-17 01:25] MrinallU commented on #89
@thecodingwizard I mean we would also need to verify each solution since there is no way to do it automatically.

[2020-12-17 01:27] MrinallU commented on #89
I mean it depends on preference lol but I think it would be nice to have the notes in one place but I mean if you think our time is better spend on  other things then I guess it's fine for now.

[2020-12-17 01:29] thecodingwizard commented on #89
erm I haven't thought too much about how exactly this functionality would work oops, but something like that?

Maybe we add a column to the table that's like "View Solutions," and then it lists a whole bunch of user submissions and people can browse them or something. Not sure

I just don't know how many people would actually use such a feature to justify making + maintaining it...?

[2020-12-17 01:46] MrinallU commented on #89
@thecodingwizard let me know what you come up with and what  you need me to implement!

[2020-12-17 01:56] bqi343 commented on #431
- toggle private / public setting for solution code

[2020-12-17 02:05] MrinallU commented on #386
@thecodingwizard This I can work on this if you want me to.

[2020-12-17 02:06] MrinallU commented on #386
So did you want a hover effect or another row on the table which displays the problems?

[2020-12-17 02:07] thecodingwizard commented on #386
hover effect on desktop, another row on mobile?

[2020-12-17 03:15] MrinallU commented on #345
@thecodingwizard So what if we had a quick notification that popped up for a few seconds indicating that the user has signed with some email.

[2020-12-17 03:16] MrinallU commented on #345
@thecodingwizard I was considering something like a redux toast.

[2020-12-17 03:19] MrinallU commented on #345
@thecodingwizard If you  don't know what that is here is a quick example: https://www.geeksforgeeks.org/reactjs-toast-notification/

[2020-12-17 03:20] thecodingwizard commented on #345
I think that might be a bit annoying...

[2020-12-17 03:45] MrinallU commented on #345
@thecodingwizard I mean it leaves in like five seconds plus we can style it to make it look better.

[2020-12-17 03:47] MrinallU commented on #345
idk though just a suggestion, in my opinion the message on the top messes up the nice vibe of the dashboard so we can entertain the possibility of removing the message all together...

[2020-12-17 03:48] MrinallU commented on #345
A better styled example, we can make it so the message only appears in the top and bottom corner. https://codesandbox.io/s/rl0xpx7k64

[2020-12-17 15:57] bqi343 opened #490 "Baltic OI Swap"
https://github.com/cpinitiative/usaco-guide/blob/master/solutions/Baltic%2016-swap.mdx

doesn't compile

[code]

[2020-12-17 16:01] bqi343 commented on #490
Also APIO 2011 Path.

[code]

[2020-12-17 16:14] #89 closed

[2020-12-17 16:14] #287 closed

[2020-12-17 16:18] #455 closed

[2020-12-17 16:31] dolphingarlic commented on #490
Fixed those two programs

[2020-12-17 16:40] #490 closed

[2020-12-17 17:48] MrinallU commented on #431
@bqi343 I think this should be a different issue.

[2020-12-17 17:52] MrinallU commented on #386
So like how would the hober work here, like just a simple message that they can  view and how would they be able to copy  paste the hover message as it disappears after they take their mouse away from the problem.

[2020-12-17 17:53] thecodingwizard commented on #386
When you hover over a header you can see a link:

![image](https://user-images.githubusercontent.com/7865976/102524328-b2b81500-404d-11eb-8e30-d32079bcca8c.png)

Something like that?

[2020-12-17 17:54] MrinallU commented on #386
Is this a page in the guide?

[2020-12-17 17:54] thecodingwizard commented on #386
yes (?)

[2020-12-17 17:58] MrinallU commented on #386
So basically you want to have that header function but for the problems, plus the ability to copy and paste that link correct?

[2020-12-17 18:04] thecodingwizard commented on #386
wait like the icon _is_ the link... you click the icon and your URL changes, and then you copy paste the URL to share it (just like how the current header works)

[2020-12-17 18:06] MrinallU commented on #386
@thecodingwizard dumb question but can you give me the link to the page where you got that header screenshot?

[2020-12-17 18:11] thecodingwizard commented on #386
any module page!! just hover over a header.

[2020-12-17 20:09] MrinallU commented on #386
@thecodingwizard Well I'm it seems me two hours ago lacked brain cells.

[2020-12-17 20:13] MrinallU commented on #386
@thecodingwizard So in the problem table in which row would the user hover over, as hovering over  the problem name in the table gives the link of the problem in the official usaco website.

[2020-12-17 20:18] bqi343 commented on #386
Anywhere in the row corresponding to that problem.

[2020-12-17 22:14] Hanaffi commented on #341
@thecodingwizard Can you tell me where is that home page located?
Im just not very prof with React&Gatsby so I cant find it :(

[2020-12-17 23:29] thecodingwizard commented on #341
The navigation bar code is here: https://github.com/cpinitiative/usaco-guide/blob/master/src/components/TopNavigationBar/TopNavigationBar.tsx

(Feel free to refactor, it seems quite messy oops XD)

[2020-12-18 00:07] Hanaffi commented on #341
@thecodingwizard Wow ,
Aside from the issue , Can you tell me how to approach complex stuff in react?
I feel so beginner looking at your codebase , LOL.
I built moviesapp and to-do list :(

[2020-12-18 00:09] MrinallU commented on #341
@Hanaffi Try not to get overwhelmed, it seems big at first, but once you really take the time to read it most of the code becomes pretty trivial.

[2020-12-18 00:09] MrinallU commented on #341
@Hanaffi What exactly are you having trouble understanding

[2020-12-18 00:19] Hanaffi commented on #341
@MrinallU
Well, I cant actually find the code needed to be edited in that file :(

[2020-12-18 00:19] MrinallU commented on #341
ohhh

[2020-12-18 00:21] Hanaffi commented on #341
Oh, just found it

[2020-12-18 00:21] MrinallU commented on #341
@Hanaffi https://github.com/cpinitiative/usaco-guide/blob/master/src/components/TopNavigationBar/TopNavigationBar.tsx

[2020-12-18 00:25] Hanaffi commented on #341
@MrinallU I cant understand the classes names.
Is that a framework or what?

[2020-12-18 00:47] MrinallU commented on #341
ummm no

[2020-12-18 00:48] MrinallU commented on #341
If you don't understand the basic ideas you should check the React documentation: https://reactjs.org/docs/getting-started.html

[2020-12-18 13:09] MrinallU commented on #386
@bqi343 When clicking on that icon do you want  it to automatically copy to clipboard?

[2020-12-18 15:05] bqi343 commented on #386
Sure if you know how to do that. It's fine as is though.

[2020-12-18 19:38] MrinallU commented on #386
@bqi343 If I have some free time I'll do that.

[2020-12-18 19:41] MrinallU commented on #86
So like in the problems page what if we had like three filter options, one to search by name, one by tag and one by difficulty, although I think difficulty is pretty relative based  on the person.

[2020-12-18 19:47] thecodingwizard commented on #386
If you do this also make sure to add a brief "Copied" indicator somewhere!

[2020-12-18 19:48] thecodingwizard commented on #86
You should be able to use all three filters at once (see https://react-instantsearch.netlify.app/examples/e-commerce/ or something like that)

[2020-12-18 20:21] bqi343 opened #495 "Sharing URL + Language"
Ex. say I want to share a URL that refers to a section that is only present in the java version of some module.

[2020-12-18 20:34] thecodingwizard commented on #495
I'm assuming if you click this URL, then your default language will be changed? (otherwise it'll be out of sync)

[2020-12-19 01:46] izhang05 opened #497 "Latex is not rendered properly in the table of contents"
Latex is not rendered properly in the table of contents for modules.
![image](https://user-images.githubusercontent.com/29922692/102677744-bba20700-4171-11eb-811e-99799e0569da.png)

This came from https://usaco.guide/gold/lis.

[2020-12-19 18:00] bqi343 opened #499 "Disable TOC?"
<img width="472" alt="Screen Shot 2020-12-19 at 1 00 02 PM" src="https://user-images.githubusercontent.com/21228024/102696144-2139d600-41fa-11eb-9459-5be04d3319dd.png">

Seems silly for the TOC to take up so much space when there are no sections. (This would probably apply to most solution pages.)

[2020-12-20 20:36] frodakcin commented on #453
Both problems?

For mixmilk, I think `c[]` for capacity and `m[]` for milk is understandable.

[2020-12-20 20:40] frodakcin commented on #453
For shell game, I think `cnt[]` for counter is fine. For the other array, which tracks which shell is at which position, I called it `ord[]`, but I'm not sure what to change it to... Possibly `shell[]` or `pos[]`?

[2020-12-20 21:25] bqi343 commented on #453
Maybe `shell_at_position[]`?

[2020-12-20 21:33] frodakcin commented on #453
Ok, wordy but clear. Might as well un-abbreviate the others too.

[2020-12-21 04:13] frodakcin commented on #453
https://github.com/cpinitiative/usaco-guide/pull/509

[2020-12-22 15:32] MrinallU commented on #86
I see...

[2020-12-22 15:33] MrinallU commented on #86
So does each problem have this data (more specifically does each problem have its own tags and difficulty measure?)

[2020-12-23 00:33] #453 closed

[2020-12-23 00:52] bqi343 opened #511 "Share Progress via Link"
Similar to how you can share your [OI checklist](https://oichecklist.pythonanywhere.com/)?

[2020-12-23 00:58] SansPapyrus683 opened #512 "Contributing Solutions"
(Apologies if this isn't the place to ask questions such as this- I can close this issue if the maintainers tell me to)

Is there a list of the solutions that haven't been made already? I'd like to contribute some solution, but I can't seem to find a list of the "open" problems that don't have an internal solution yet.

[2020-12-23 00:59] bqi343 opened #513 "saving / sharing code associated with a problem"
Also should be possible to edit code / associate more than one solution with the same problem.

_Originally posted by @bqi343 in https://github.com/cpinitiative/usaco-guide/issues/431#issuecomment-747153400_

[2020-12-23 01:02] bqi343 commented on #512
Not sure what you mean, the guide will display an internal solution in the "solution" column if one exists.

<img width="803" alt="Screen Shot 2020-12-22 at 8 02 13 PM" src="https://user-images.githubusercontent.com/21228024/102947140-9a525b00-4490-11eb-87c9-edff19e86ddc.png">

[2020-12-23 01:40] MrinallU commented on #513
@bqi343 The problem feedback thing is about done so this should be possible pretty soon, plus each submission in the database is identified by its problem name so it should be trivial for the most part.

[2020-12-23 01:41] MrinallU commented on #513
@bqi343 We should also show the verified solutions first in the public solves section like somebody should make sure a few of them are correct by running them and then the website will show the ones that are verified first and then all of the other solutions .

[2020-12-23 01:42] MrinallU commented on #513
@bqi343 what would be the purpose of editing the code in the solution library?

[2020-12-23 01:45] MrinallU commented on #499
Can the user have the option to do this as well, like have a button that closes and reopens the TOC on click .

[2020-12-23 01:45] MrinallU commented on #499
Another option is to have the TOC act as a hamburger menu

[2020-12-23 01:49] bqi343 commented on #513
Say the user who created it wants to add additional comments.

[2020-12-23 02:06] SansPapyrus683 commented on #512
Ah, I see. Thanks!
When submitting a PR for solutions, do I just have to include the `.mdx` files with my written solutions (named appropriately, of course)? I don't know that much frontend css/js, so I won't be able to integrate the written solutions into the actual links.

[2020-12-23 02:11] bqi343 commented on #512
You should be fine as long as you follow the instructions [here](https://usaco.guide/general/contributing#adding-a-solution).

[2020-12-23 02:12] #512 closed

[2020-12-23 02:37] MrinallU commented on #386
@thecodingwizard planning on using this.

[2020-12-23 02:38] MrinallU commented on #386
https://www.npmjs.com/package/react-copy-to-clipboard

[2020-12-23 08:59] thecodingwizard commented on #513
Does this need to be decoupled from problem feedback then?

[2020-12-23 09:21] thecodingwizard opened #516 "Firebase backups"
We should do daily firebase+firestore+authentication backups...

[2020-12-23 12:53] dolphingarlic opened #517 "Get rid of templates?"
So a few feedback emails have been complaining about templates being hard to read. Should we try to convert all the code with templates to code without? There are a few thousand LOC with templates, so I'm not sure whether it's worth it

[2020-12-23 16:05] dolphingarlic opened #518 "Cow photo countdown bug"

[2020-12-23 16:18] bqi343 commented on #518
I think this was intended by @thecodingwizard so the streak would continue if a user visits < 24 hours later.

[2020-12-23 16:23] bqi343 commented on #517
Should be resolved by #513? People can submit their own code and the official solution can be replaced if the submitted code more readable.

[2020-12-23 16:24] bqi343 commented on #513
@thecodingwizard Up to you.

[2020-12-23 20:17] thecodingwizard commented on #518
Crap I don't remember since I'm on a 124 day streak ;) ;)

[2020-12-23 20:22] thecodingwizard commented on #517
Yeah. Even removing macros seems a little nontrivial (though perhaps doable); templates is like impossible to automate.

I honestly don't think we (as in guide authors) should spend our time removing macros -- anybody can do it and submit a PR (it makes a good first issue to contribute with anyway), and if we do have extra time we should really fill in incomplete sections / incomplete solutions.

[2020-12-23 22:14] #499 closed

[2020-12-23 22:51] Hanaffi commented on #341
@thecodingwizard May I use material UI?

[2020-12-23 22:52] thecodingwizard commented on #341
err probably not; that would add a large dependency to our project + we are using tailwind css already

[2020-12-23 23:18] thecodingwizard commented on #513
Does anyone have ideas for how the UI for this is going to work? The problem table is getting awfully cramped; seems difficult to add another column.

Maybe we should replace the "Solution" column with a "More Details" column? And then clicking the "More Details" link would open a popup modal with all the information related to the problem, including:

- external solution links
- internal solution

[2020-12-24 07:35] thecodingwizard commented on #516
closed by a8593c5387bc4a9bed5ab2da47b261a534021bc4

[2020-12-24 07:35] #516 closed

[2020-12-24 14:34] bqi343 commented on #518
@thecodingwizard so are we closing this?

[2020-12-24 15:24] MrinallU commented on #386
So the copy and pasting feature works, as when clicking on that icon the specific problem automatically copies to the clipboard. Now, how would we notify the user when they copied the URL to the clipboard?

[2020-12-24 15:39] bqi343 commented on #386
<img width="361" alt="Screen Shot 2020-12-24 at 10 38 06 AM" src="https://user-images.githubusercontent.com/21228024/103097093-228d4900-45d4-11eb-82f1-7cb667a337b8.png">

Ex. The tooltip here becomes `Sample Input Copied to Clipboard` when the icon clicked.

[2020-12-24 20:13] thecodingwizard commented on #518
Uhhh I think this is a valid bug... I'm not sure what the best solution is though? Because simply updating the timer to be until the next prime day won't work -- they need to visit every day. Maybe we should show both the countdown and how many days left?

[2020-12-24 23:35] bqi343 commented on #518
Currently it says `to continue your streak` instead of `to unlock this cow photo` when there's > 1 day, which I think is fine?

[2020-12-25 18:48] theRealBird opened #529 "Issue with Test Cases 3 and 8 in speeding.out file"
Can someone please verify whether the test cases 3 and 8 for the problem **Speeding-USACO Bronze December 2015** contain the correct output? I think they have some weird character in them instead of an integer.
Here's the image for reference.
![image](https://user-images.githubusercontent.com/75845929/103140673-7f414e80-470f-11eb-843e-bdf06db38481.png)

[2020-12-26 01:21] thecodingwizard commented on #529
They do for me -- They are 0 for both 3.out and 8.out.

(In the future, it may be better to use the [USACO Forum](https://forum.usaco.guide/) for these types of questions :)

[2020-12-26 01:21] #529 closed

[2020-12-26 04:39] theRealBird commented on #529
Whoops! I must have made some error. Thanks for your help, I will head to the forums.  Apologies for causing inconvenience.

[2020-12-26 17:30] dolphingarlic opened #530 "Make the settings modal dark in dark mode"
It's quite jarring to see a light-mode settings modal when everything else is dark mode

[2020-12-26 17:31] dolphingarlic commented on #203
Closed by https://github.com/cpinitiative/usaco-guide/issues/203

[2020-12-26 17:31] #203 closed

[2020-12-26 17:33] #517 closed

[2020-12-26 17:35] dolphingarlic commented on #530
Also the sections dropdown thing

[2020-12-26 17:40] bqi343 commented on #530
similar to #325

[2020-12-27 00:07] bqi343 commented on #518
Closed by 0808e89

[2020-12-27 00:07] #518 closed

[2020-12-27 00:24] #431 closed

[2020-12-27 00:25] thecodingwizard commented on #431
closed by #515

[2020-12-27 04:11] #325 closed

[2020-12-27 05:37] coderinblack08 opened #531 "Ability to Import User Data"
Since I have been working without an account, whenever I log in, my work done previously is not uploaded to the account. You have an export user data button so could you also add an import user data button? I could help write a PR :D

[2020-12-27 06:22] thecodingwizard commented on #531
If you submit a PR, we'll definitely take a look :).

Also, why not just make a user account?

[2020-12-27 11:25] thecodingwizard opened #532 "Long latex on mobile should scroll"

[2020-12-28 00:25] coderinblack08 commented on #531
I think I created one before when it was newer, and didn't use it again and now that I login in, my data gets wiped from local storage:C

[2020-12-28 00:30] thecodingwizard commented on #531
oh yeah oops, syncing local data and server data is insanely annoying. We should really figure out a better way to do that (maybe a popup that asks you to choose between local data or server data)

[2020-12-28 04:27] coderinblack08 commented on #531
yep, I think that would be nice

[2020-12-29 03:05] #532 closed

[2020-12-29 03:23] thecodingwizard opened #534 "@firebase/firestore could not reach cloud firestore backend"
If Firebase detects a bad internet connection, it will switch to offline mode, which may result in user data synchronization issues.

The biggest issue I have identified so far is with initial account creation; if it switches to offline mode, then it will erroneously prompt the user to override server data with local data, which may lead to permanent loss of data for the user.

![image](https://us

[2020-12-29 09:14] thecodingwizard commented on #268
fixed some time ago (can't find commit oops)

[2020-12-29 09:14] #268 closed

[2020-12-29 22:19] HarryWangATX commented on #362
I can do it if needed

[2020-12-30 00:20] NikolaSiplakova commented on #530
Hi, I'd like to work on this issue. Could you assign it to me? :)

[2020-12-30 05:35] thecodingwizard commented on #362
Thanks! See this branch for a starting point: https://github.com/cpinitiative/usaco-guide/tree/feature/faq-page

[2020-12-30 05:36] HarryWangATX commented on #362
Alright, lemme finish correcting the hack case explanation first and I'll get started

[2020-12-30 05:59] HarryWangATX commented on #362
@thecodingwizard do you want a new usaco faq page or add new ones to the existing one there?

[2020-12-30 06:05] thecodingwizard commented on #362
just add new ones to the existing one I guess?

[2020-12-30 17:46] HarryWangATX commented on #362
k

[2020-12-30 19:43] HarryWangATX commented on #362
Hmm, Darren's blog seems to be down.

[2020-12-30 21:13] HarryWangATX commented on #362
nvm just noticed that the existing one is from darren

[2020-12-31 19:56] nwatx opened #553 ""Solved" popup"
![image](https://user-images.githubusercontent.com/43394822/103423878-f8f19600-4b6e-11eb-9e64-60603179af4b.png)
Maybe we could have this popup come up randomly (30% maybe) or volunteer feedback, as it currently comes up every time a solution is marked (a little annoying xd).

[2021-01-01 02:21] SansPapyrus683 opened #560 "Ugly wrapping for long code lines"
While looking at one of the solutions for a problem, I noticed that the way the website handles long lines of code is rather ugly (at least in my opinion):
![image](https://user-images.githubusercontent.com/55369003/103432510-cd81a200-4b94-11eb-8fdd-ed3f3dac929d.png)
It'd be nice if instead of just hard wrapping it like that, there was a sort of horizontal scrollbar so the longer lines look better

[2021-01-01 02:22] thecodingwizard commented on #560
It was a deliberate decision to have it wrap (mostly for mobile, though maybe this was the wrong decision?). On desktop no code wrapping should occur -- the code we wrote there should probably be split into multiple lines :P

[2021-01-02 02:03] bqi343 commented on #553
Should add an option to disable popups.

[2021-01-02 02:21] bqi343 commented on #560
Just reformat the specific file in question so that there aren't so many characters on a single line.

[2021-01-02 02:21] #560 closed

[2021-01-02 19:04] MrinallU commented on #495
@bqi343 So is the copy to clipboard feature still needed?

[2021-01-03 00:13] bqi343 commented on #495
No (unless you want to?)

[2021-01-03 02:08] #495 closed

[2021-01-03 02:12] bqi343 commented on #343
no "open PR" button but #521 seems good enough

[2021-01-03 02:12] #343 closed

[2021-01-03 17:02] MrinallU commented on #346
@thecodingwizard I can work on kicking and banning students

[2021-01-03 17:33] MrinallU commented on #360
@thecodingwizard I was stuck on this for a while but the liveupdate code gave me a good idea of what to do now.

[2021-01-03 22:17] jeffreymeng commented on #346
@MrinallU we're actually thinking about rewriting some of the classes logic so maybe hold off on that for now

[2021-01-04 01:58] bqi343 opened #579 "copy pasting latex in forum is messed up"

[2021-01-04 16:23] bqi343 opened #582 "Rectangle Geo"
From @thecodingwizard :

 - a lot of the guide still feels a bit chaotic to me
 - like it's not wrong but it also seems a bit messy

ex. https://usaco.guide/bronze/rect-geo?lang=cpp#constant-time-solution-1

but honestly rectangle geometry is so niche that people probably should not be writing rectangle classes ...

[2021-01-04 17:10] bqi343 opened #583 "Mention https://codeforces.com/blog/entry/79909?#comment-658518"
maybe in intro ds

[2021-01-04 21:19] MrinallU commented on #346
@jeffreymeng Sure then, let me know when I can get started on it.

[2021-01-04 23:59] Hanaffi commented on #341
@thecodingwizard  Can you tell me some hint on how to implement this popup using tailwind??

[2021-01-05 00:39] HarryWangATX commented on #341
@Hanaffi https://tailwindui.com/components/application-ui/overlays/modals tailwind ui components has some good examples of their usage.

[2021-01-05 02:44] MrinallU commented on #513
@thecodingwizard With all this stuff I feel like it should not be cramped into one modal and instead it should be a separate page for each solution, possibly a new route or page for the more info page?

[2021-01-05 03:00] MrinallU commented on #346
@thecodingwizard I had another idea for grades, what if you guys held mock codeforces contests and then we could use codeforces API to get the contest's results and then extract the grades based on the student's scores, just an idea though.

[2021-01-05 12:05] Hanaffi commented on #341
@HarryWangATX Thanks.

Can someone tell me how to fix this issue?
I mean , the search results goes out of the modal !
![Untitled](https://user-images.githubusercontent.com/35642947/103644406-fd4af400-4f5e-11eb-9a5d-bfb197813fe1.png)

[2021-01-06 01:55] bqi343 opened #592 "display date of last commit on module"
mb on syllabus page too?

[2021-01-06 03:36] thecodingwizard opened #594 "More cow photos"
(email request)

[2021-01-06 23:22] bqi343 commented on #594
For ppl with insane streaks??

[2021-01-06 23:25] HarryWangATX commented on #594
I think just in general lol. we need more cows

[2021-01-06 23:29] HarryWangATX commented on #594
maybe web scrape for cow pics if possible???

[2021-01-06 23:32] nwatx commented on #594
well that ig could lead to copyright? maybe pixabay and creative commons places. Ik pixabay has some.

[2021-01-06 23:34] thecodingwizard commented on #594
I had a 130-day streak until I sacrificed it to test the cow photo bug :c

sure, though someone will still have to look through the scraped cow photos. So it's probably fine to just ask for PR's and hope somebody who's bored will take on the job :P

[2021-01-07 01:26] thecodingwizard commented on #592
@bqi343 was it intentional that the last commit is only on the syllabus page, and that it only shows if it's within two weeks or so?

[2021-01-07 01:31] bqi343 commented on #592
yeah, do you want it on the module pages as well? seems to be enough stuff in the module header already

[2021-01-07 02:50] bqi343 opened #601 "+ CSES Problems"
broken profile: https://cses.fi/problemset/result/1488646/
numbers: https://cses.fi/problemset/task/2220

lazy / comb: https://cses.fi/problemset/task/2166
min seg: https://cses.fi/problemset/task/2206
stack: https://cses.fi/problemset/task/2416

HLD: https://cses.fi/problemset/task/2134
Centroid: https://cses.fi/problemset/task/2079
Centroid: https://cses.fi/problemset/task/2080
Centroid: https:/

[2021-01-07 02:58] bqi343 commented on #582
closed by  93c46dc

[2021-01-07 02:58] #582 closed

[2021-01-07 03:03] bqi343 commented on #592
closed by #596

[2021-01-07 03:03] #592 closed

[2021-01-07 03:06] MrinallU commented on #592
@thecodingwizard What about having monthly update notes, like new/updated sections so people can come back and visit the pages, especially while the guide is still in it's "prerelease" stages.

[2021-01-07 03:11] thecodingwizard commented on #592
It's technically possible to automate that with conventional commits ;)

[2021-01-07 13:34] tachithanhdanh opened #603 "Mislabled problem for the Binary Search on the Answer module"
https://usaco.guide/silver/binary-search-ans?lang=cpp#problem-http://codeforces.com/problemset/problem/830/A
This problem seems to be too easy to solve by using brute force, so it is not unsuitable to put this problem in the Binary Search on the Answer module.

[2021-01-07 19:06] wengh opened #606 "Dead USACO problems"
USACO Problems earlier than 2012 US Open seem to no longer accept Analysis Mode submissions.
[Some of these problems are used in USACO Guide](https://usaco.guide/plat/hld#problem-http://www.usaco.org/index.php?page=viewproblem2&cpid=102).

We should probably link to a mirror site such as [Luogu](https://www.luogu.com.cn/problem/P3038) or contact USACO staff.

[2021-01-07 22:47] #603 closed

[2021-01-12 04:53] SamZhang3 commented on #606
The issue with Luogu is that it is a Chinese website, and not a lot of USACO Guide users speak the language. Even if one uses, say, Google Translate to understand the site, there are still other issues (for example, as Gmail is blocked in China, I suspect that it is not possible to create an account on Luogu with a Gmail address; and an account is necessary to make submissions.)

I am not even cer

[2021-01-12 05:47] dongliu0426 commented on #606
https://usaco.guide/general/oly?lang=cpp#usaco

[2021-01-12 05:48] thecodingwizard commented on #606
https://usaco.guide/general/oly#usaco There's a Korean website apparently

[2021-01-15 02:48] bqi343 commented on #594
#597 should be sufficient?

[2021-01-15 02:48] #594 closed

[2021-01-16 08:55] thecodingwizard commented on #579
Prooooooobably won't fix this since idk how :(

[2021-01-16 08:56] thecodingwizard commented on #435
twin.macro should support tw2 now (but hopefully we migrate away from it at some point)

[2021-01-18 19:00] ochen1 opened #633 "Spelling issue?"
![iff](https://user-images.githubusercontent.com/59662605/104953889-86f9b900-5984-11eb-8754-2817f054c823.png)
*"if" with two f's. Is this a bug or a feature?*

Link: https://usaco.guide/silver/intro-tree

[2021-01-18 19:02] andrewwangva commented on #633
Nope! iff stands for if and [if and only if](https://en.wikipedia.org/wiki/If_and_only_if) I'm pretty sure.

[2021-01-18 19:03] ochen1 commented on #633
I see :eyes:! Thank you! :smile:

[2021-01-18 19:03] #633 closed

[2021-01-19 20:29] HarryWangATX opened #639 "Navbar has different spacing for home page and dashboard."

[2021-01-20 17:36] #579 closed

[2021-01-23 02:00] thecodingwizard commented on #639
This is because we try to align the navbar with the content of the pages. If there's a better / alternate design please feel free to comment ideas here :)

[2021-01-23 02:00] #639 closed

[2021-01-23 05:39] dongliu0426 opened #647 "cses problem names"
they updated some cses problem names
- Range Queries section

probably more

[2021-01-23 06:40] thecodingwizard commented on #497
![image](https://user-images.githubusercontent.com/7865976/105571177-dc2a2780-5d02-11eb-8c0d-6e0b8648307b.png)

:heart:

[2021-01-23 06:41] #497 closed

[2021-01-25 21:38] thecodingwizard opened #652 "Add Binary Search on Array implementation for Java"
I think we should add a binary search implementation for Java that doesn't rely on library implementation: https://usaco.guide/silver/binary-search-sorted?lang=java (maybe other languages too?)

None of the resources seem to have a Java implementation.

[2021-01-25 21:44] HarryWangATX commented on #652
sure i can do that

[2021-01-26 02:41] nwatx opened #655 "Binary jumping rename?"
@bqi343 Do you think it's a good idea to rename the binary jumping module to binary lifting? Most of the resources call it "binary lifting," so unless I'm missing something I think it would be less confusing naming-wise.

[2021-01-26 16:17] bqi343 commented on #655
I like "jumping" :) but feel free to note this in the module

[2021-01-26 18:10] dolphingarlic commented on #2
Some more potential topics:
- Virtual trees (this might fall under stacks)
- CDQ D&C (and other weird Chinese tricks: https://oi-wiki.org/)
- Weird graphs where you can do NP-hard problems in polynomial time(?) e.g. series-parallel graphs (not sure how relevant these are for cp, but I think they're cool and I've seen a few problems that use them)

[2021-01-27 04:52] #655 closed

[2021-01-27 16:54] bqi343 commented on #2
already mentioned here: https://usaco.guide/plat/2DRQ?lang=py#idea-3-use-divide--conquer-with-a-1d-bit

[2021-01-28 22:34] bqi343 opened #665 "Add / Normalize Problem Tags"
A number of problems aren't tagged properly

https://usaco.guide/general/usaco-monthlies?lang=cpp

looks bad that most are untagged :(

https://github.com/cpinitiative/usaco-guide/blob/master/solutions/1_extra_usaco_probs.ts

<img width="920" alt="Screen Shot 2021-01-31 at 5 58 13 PM" src="https://user-images.githubusercontent.com/21228024/106400700-fee8ca00-63ed-11eb-9176-11746c9547c4.png">

[2021-01-31 04:31] HarryWangATX commented on #652
@thecodingwizard how do you want that section to be formatted with that addition? do i just add the impl to all the langs?

[2021-01-31 04:36] HarryWangATX commented on #362
close?

[2021-01-31 22:13] thecodingwizard opened #673 "Move G++ Installation structions to Running Code Locally"
I think G++ installation instructions are currently on both running code locally and C++ w/ command line. We should move installation instructions into the running code locally module

(At least, after the relevant PR is merged)

[2021-01-31 23:04] bqi343 commented on #665
though I'm not sure if anyone uses this functionality so mb it doesn't matter

[2021-02-01 18:48] #647 closed

[2021-02-01 18:57] thecodingwizard commented on #652
oops just kidding -- I completely forgot that Binary Search on Answer exists. I think it's fine that bin search on array only uses library function calls in this case (unless someone feels otherwise?)

[2021-02-01 18:57] #652 closed

[2021-02-02 04:40] dolphingarlic opened #678 "Broken link"
The link to the LearnCpp article about arrays (https://www.learncpp.com/cpp-tutorial/62-arrays-part-ii/) in bronze/intro-ds is broken

[2021-02-02 18:14] bqi343 opened #680 "Update Resource Links Under "Ad Hoc""
https://usaco.guide/bronze/ad-hoc?lang=cpp

Or comment them out.

[2021-02-02 22:46] #678 closed

[2021-02-02 23:50] frodakcin opened #683 "Consistent-ify feb-16-milk-pails solution after it is merged (self reminder)"
CPP has bfs N^2 version, java has dfs N^3 version. Transcribe them so each lang has N^2 and N^3 versions

[2021-02-03 00:00] frodakcin commented on #683
update: cpp has both versions. it seems only java needs it i think

[2021-02-03 20:40] #601 closed

[2021-02-03 21:44] jeffreymeng opened #687 "Internal Solution Feedback buttons & views counter"
One feature that might help us see which internal solutions are the most helpful would be some buttons at the end of each internal solution which users can click, sort of like those links after amazon reviews. This would also provide some gratification for people who write internal solutions.

Specs:

- Each internal solution has a counter listing the number of unique views (by some criteria, mayb

[2021-02-04 21:48] frodakcin commented on #683
https://github.com/cpinitiative/usaco-guide/pull/690

[2021-02-04 21:48] #683 closed

[2021-02-05 18:33] thecodingwizard opened #695 "CF EDU 2P?"
https://usaco.guide/silver/2P?lang=cpp

Apparently cf edu has two pointers?

[2021-02-05 18:41] #435 closed

[2021-02-05 18:45] thecodingwizard commented on #673
never mind; already fixed by the PR

[2021-02-05 18:45] #673 closed

[2021-02-05 19:12] thecodingwizard opened #697 "Adding Videos"
A number of people prefer watching videos to the text format of the Guide. Long-term, we're aiming to provide both text and videos for all of our modules and practice problems. Short term, we have the following goals:

- Add videos from [WilliamFiset](https://www.youtube.com/channel/UCD8yeTczadqdARzQUp29PJw) and [Jonathan Paulson](https://www.youtube.com/channel/UCuWLIm0l4sDpEe28t41WITA) (and othe

[2021-02-05 19:13] thecodingwizard commented on #372
see #697

[2021-02-05 19:13] #372 closed

[2021-02-05 19:13] thecodingwizard commented on #243
see #697

[2021-02-05 19:13] #243 closed

[2021-02-06 01:34] thecodingwizard commented on #360
I'll close this for now since it seems like there's more important issues to work on (like problem search :eyes:)

[2021-02-06 01:34] #360 closed

[2021-02-06 01:35] thecodingwizard commented on #296
closing unless somebody has a better idea as to how to do this :/

[2021-02-06 01:35] #296 closed

[2021-02-06 06:59] caoash commented on #680
Commented out, I'll update if the site goes back up / I hear back from Kaunta (asked if he moved the site somewhere).

[2021-02-06 07:12] #680 closed

[2021-02-06 20:00] frodakcin opened #702 "Request for a section with a randomly sorted problemset"
Putting every problem into categorized sections removes the novelty of seeing a new problem in a contest. Create a section (probably for each division) with randomly sorted problems to practice w/o hints.

(initially brought up by izhang)

[2021-02-06 21:47] bqi343 commented on #702
Why not just do random probs from here?

https://usaco.guide/general/usaco-monthlies?lang=cpp

[2021-02-06 22:13] HarryWangATX commented on #695
k ill look into that

[2021-02-06 23:00] thecodingwizard opened #707 "Resolve incomplete sections in Bronze - Gold"
Only a few modules have incomplete sections left for Bronze through Gold -- we should fix those sections!

[2021-02-06 23:52] frodakcin commented on #702
Oh I didn't know that was a thing. I guess this resolves the issue.

[2021-02-06 23:52] #702 closed

[2021-02-07 01:38] thecodingwizard commented on #530
oh i fixed this recently :heart:

[2021-02-07 01:38] #530 closed

[2021-02-07 01:39] #531 closed

[2021-02-07 02:54] #362 closed

[2021-02-07 06:17] frodakcin opened #711 "Functional Graphs module java code is trash: transcribe cpp version"
Context: https://github.com/cpinitiative/usaco-guide/pull/710

Python code might be trash too

[2021-02-07 21:10] #386 closed

[2021-02-07 21:26] bqi343 commented on #665
related note - most problems in the DFS / Tree modules should be tagged with "Connected Components" rather than "DFS" since they don't require DFS specifically

_Originally posted by @bqi343 in https://github.com/cpinitiative/usaco-guide/issues/703#issuecomment-774544372_

[2021-02-07 22:19] dongliu0426 commented on #695
#709 this should be closed?

[2021-02-07 22:20] thecodingwizard commented on #695
Yep, thanks!

[2021-02-07 22:20] #695 closed

[2021-02-08 00:46] MrinallU commented on #346
@thecodingwizard Can I work on kicking/banning students?

[2021-02-08 00:59] thecodingwizard commented on #346
@jeffreymeng did you say you were going to overhaul permissions for LMS?

[2021-02-08 01:55] bqi343 opened #715 "upd prefix sums code to solve focus problem"
https://usaco.guide/silver/prefix-sums?lang=cpp

[2021-02-08 01:56] HarryWangATX commented on #715
sure i can do that

[2021-02-08 02:05] jeffreymeng commented on #346
yeah, we will -- @MrinallU I'd recommend you work on something outside the LMS for now.

[2021-02-08 04:10] #606 closed

[2021-02-08 08:01] thecodingwizard opened #718 "Prefix sum 2d interactive issues"
Second interactive is missing "prefix(x)(y)"

Also mobile is bad

[2021-02-08 08:03] thecodingwizard opened #719 "Add template to bfs sol"
https://usaco.guide/gold/bfs/#solution---message-route

Either add templates or detemplatify code

[2021-02-08 16:18] frodakcin opened #720 "Basic Complete Search code should directly solve focus problem"
https://usaco.guide/bronze/intro-complete?lang=cpp

[2021-02-08 16:34] HarryWangATX commented on #719
sure it seems like benq template right?

[2021-02-08 16:35] HarryWangATX commented on #720
like completing the code, not just the main code block?

[2021-02-08 16:38] frodakcin commented on #720
yea. It might help some people who aren't getting it yet.
https://codeforces.com/gym/102951/standings
Also we should mention `max(sqrt())` = `sqrt(max()))`

[2021-02-08 16:38] frodakcin commented on #720
to avoid float point

[2021-02-08 17:45] HarryWangATX commented on #720
wait why should be mention max(sqrt())=sqrt(max())? im not seeing it at all in the section

[2021-02-08 17:52] frodakcin commented on #720
some people are implementing it by computing max of all distances, and then printing the square of the result.

[2021-02-08 18:16] dongliu0426 opened #721 "Add https://usaco.guide/silver/greedy?lang=cpp#example-studying-algorithms to codeforces gym?"

[2021-02-08 19:25] frodakcin commented on #721
https://codeforces.com/gym/102951/problem/B

Test if this works?

[2021-02-08 19:34] dongliu0426 commented on #721
nice, it works!

[2021-02-08 19:38] dongliu0426 commented on #721
oops we still need to link the problem to the module

[2021-02-08 19:39] dongliu0426 commented on #721
https://codeforces.com/gym/102951/submission/106936123 oof LOL

[2021-02-08 19:43] frodakcin commented on #721
fixed it & rejudged. we good now :)

[2021-02-08 22:36] thecodingwizard opened #724 "IO issue?"
https://forum.usaco.guide/t/problem-with-io/747

Haven't verified

[2021-02-09 01:04] thecodingwizard opened #725 "System dark mode"
Dark mode should be System / Light / Dark (defaulting to System)

https://forum.usaco.guide/t/request-use-system-theme-for-dark-mode/752

[2021-02-09 01:08] jeffreymeng commented on #725
I think a prerequisite is an overhaul of the settings modal.
It’s kinda clunky right now.

Best,
Jeffrey Meng

--
Jeffrey Meng | jeffkmeng@gmail.com | jeffkmeng.com
On Feb 8, 2021, 5:06 PM -0800, Nathan Wang <notifications@github.com>, wrote:

[2021-02-09 01:14] thecodingwizard opened #726 "Overhaul settings modal"

[2021-02-09 02:59] bqi343 commented on #724
resolved

[2021-02-09 02:59] #724 closed

[2021-02-09 03:55] bqi343 opened #727 "Be Consistent About Wrapping Sols With Spoilers"
https://usaco.guide/silver/dfs?lang=cpp#solution---building-roads

is wrapped while a spoiler but the focus problem later in the module is not ...

[2021-02-09 03:58] bqi343 opened #728 "Flood Fill - Unnecessary Code"
It's not necessary to have both the "Implementation" and the solution to Counting Roads. The two should be merged.

[2021-02-09 04:02] bqi343 commented on #728
Also:

Why "but"? Also, it doesn't necessarily have to be DFS ([Wikipedia](https://en.wikipedia.org/wiki/Flood_fill) mentions both stack and queue implementations).

[2021-02-09 04:24] bqi343 opened #729 "Ordered Set Implementation"
- Add set solution for https://usaco.guide/silver/intro-ordered#problem-https://codeforces.com/contest/702/problem/C. Internal sol doesn't use sets ...

[2021-02-09 17:42] bqi343 commented on #583
Should probably move this along with [unspecified behavior](http://localhost:8000/bronze/intro-ds?lang=cpp#unspecified-behavior) into a new module (maybe in the general section?) if there's enough content

[2021-02-09 18:13] bqi343 opened #733 "Separate Style from Templates"
https://usaco.guide/general/code-con

Should separate coding style from making templates. Also mention

https://py.mit.edu/fall20/notes/style

[2021-02-09 18:44] bqi343 commented on #665
Some tags are redundant (ex. ordered set implies sorting).

Is it worth having different tags for priority queue / ordered set? Or ordered set vs ordered map? I'll just tag all of these as "ordered set" for now.

[2021-02-09 19:17] thecodingwizard commented on #733
Do you mean making a separate module for templates? (Is that actually necessary? code conv is so short already)

[2021-02-09 19:19] bqi343 commented on #733
I think we can just remove the template part entirely and maybe mention style in "Contributing."

[2021-02-09 19:20] thecodingwizard commented on #728
they're slightly different though right? the "implementation" is more generic than the solution (colors + currentSize variable + comments)

[2021-02-09 19:32] bqi343 commented on #728
Yeah, I guess that's fine. I made a few other changes in #737.

[2021-02-09 19:33] thecodingwizard commented on #733
where would we put the template part though? (I think it's still somewhat useful?)

[2021-02-09 19:42] thecodingwizard commented on #718
fixed in b4702c2

[2021-02-09 19:42] #718 closed

[2021-02-10 01:42] bqi343 opened #741 "Flood Fill - Change Diagrams"

[2021-02-10 01:43] #728 closed

[2021-02-10 19:00] #721 closed

[2021-02-11 01:11] MrinallU commented on #553
@thecodingwizard I'll work on this then.

[2021-02-11 01:17] thecodingwizard commented on #553
https://github.com/cpinitiative/usaco-guide/issues/513#issuecomment-750548424 this might be relevant...

[2021-02-11 02:01] bqi343 commented on #733
closed by #738

[2021-02-11 02:01] #733 closed

[2021-02-11 02:02] bqi343 commented on #729
closed by #743

[2021-02-11 02:02] #729 closed

[2021-02-11 02:08] bqi343 commented on #86
- todo: fix updating problem tags

[2021-02-11 02:33] bqi343 opened #749 "Split and/or Reorder Prefix Sums"
- Painting the Barn Gold involves Max Subarray Sum, which is mentioned later in the module.
- It might be better if module is split (maybe after the intro?)

[2021-02-11 03:39] pavanscoding opened #750 "Adding a new free book to the NT module in Gold"
So I found this free NT book that covers everything AoPS: Intro to NT does and more. I think in the module you should say that you only need to do Chapter 1 and 2 along with Section 9.2 based on what is currently in the module. However, don't quote me on that because I am only in silver.

Here is the link to the book:
https://drive.google.com/file/d/1BcJTLjQaelZ4w_70oHKyImC2I8zLfyrt/view

Here is

[2021-02-11 15:38] #2 closed

[2021-02-11 19:32] #715 closed

[2021-02-11 19:35] bqi343 commented on #750
Please make a PR as described [here](https://usaco.guide/general/contributing).

[2021-02-11 19:53] #719 closed

[2021-02-11 21:30] #749 closed

[2021-02-12 01:56] jessechoe10 opened #760 "Remove Last Updated for each Module"
Although, I don't really mind it, I think it would be good to remove the last updated message for each module.

[2021-02-12 02:02] jessechoe10 opened #761 "Combine Sets with Custom Comparators with Sets"
Since sets with custom comparators doesn't have any unique problems, it'd be better to combine the sets module with sets with CC.

[2021-02-12 03:37] thecodingwizard commented on #761
I think it's fine as is (though maybe including a focus problem would be good if)

[2021-02-12 03:37] thecodingwizard commented on #760
I think it's somewhat useful :P

[2021-02-12 03:38] thecodingwizard commented on #727
Just to clarify, are we wrapping solutions in spoilers or not wrapping solutions in spoilers?

[2021-02-12 03:39] HarryWangATX commented on #727
i think benq means explanations in spoilers not sols

[2021-02-12 03:39] HarryWangATX commented on #727
at least from what he said today

[2021-02-12 03:52] bqi343 commented on #727
er I meant both

[2021-02-12 05:36] dolphingarlic commented on #727
I try to use spoilers for hints for hard problems and no spoilers for easier problems

[2021-02-12 15:02] #760 closed

[2021-02-12 18:22] jessechoe10 commented on #761
Are there any good problems you know of rn?

[2021-02-13 01:18] MrinallU commented on #553
@thecodingwizard I'll probably use the dark mode toggle a reference for this one.

[2021-02-13 07:06] pavanscoding commented on #750
I created a PR for it.

[2021-02-14 05:00] bqi343 opened #768 "Copy paste code w/ tabs instead of spaces"
ex. https://github.com/cpinitiative/usaco-guide/blob/master/content/1_General/IO.mdx#java is formatted w/ tabs but https://usaco.guide/general/io?lang=java#java copy-pastes as spaces. Should be an option to copy as tabs (and maybe specify the tab width?)

[2021-02-15 03:17] #761 closed

[2021-02-15 18:43] jessechoe10 opened #777 "Triangles Silver Difficulty"
Triangles Silver should be considered as "Very Hard". I actually struggled through that problem more than Meetings. :open_mouth:

[2021-02-16 06:04] #750 closed

[2021-02-16 20:51] #768 closed

[2021-02-16 23:33] MrinallU commented on #86
@thecodingwizard Can I get assigned to this?

[2021-02-16 23:44] bqi343 commented on #777
Please make a PR.

[2021-02-16 23:44] bqi343 opened #781 "LiveUpdate - Tabs"
Should use tabs (currently, tab becomes two spaces).

@thecodingwizard

[2021-02-17 01:02] #777 closed

[2021-02-17 01:05] MrinallU commented on #511
@bqi343 This seems pretty cool, so I would make a route like https://usaco.guide/checklist/{userID} and then fetch their Progress on all of the problems?

[2021-02-17 01:05] MrinallU commented on #511
@bqi343 But how would they benefit from this?

[2021-02-17 01:14] bqi343 commented on #511
mb if someone wants to show his progress to a coach or club leader. should probably be part of LMS. @thecodingwizard thoughts?

[2021-02-17 01:17] MrinallU commented on #511
@bqi343 I see, however I believe in the LMS the coach can already see the student's status on an assigned problem, but I guess a general page with the status of all problems would also be useful.

[2021-02-17 01:27] thecodingwizard commented on #511
It's currently planned for coaches / club leaders to be able to view member progress for problems that they assign. It probably won't be too difficult to extend this functionality to view progress on the entire guide later...

[2021-02-17 01:32] bqi343 commented on #781
jk I think it just autodetects indentation and that one file happened to be bad

[2021-02-17 01:32] #781 closed

[2021-02-17 02:32] MrinallU commented on #511
@thecodingwizard So should I work on this?

[2021-02-17 06:21] jeffreymeng opened #789 "Code blocks should not collapse if they are the sole element inside a spoiler"
If a code block is the only thing inside a spoiler tag, then the code block should not be collapsed or collapsable. For example, see solution 2 of [this page](https://usaco.guide/gold/dp-trees?lang=java). When expanding the solution, there's no need to have to spend another click to expand the code block.

(how to solve)
Inside spoiler blocks, iterate through its children. If the only child is a c

[2021-02-17 21:12] MrinallU commented on #789
@jeffreymeng I'll do this.

[2021-02-17 21:50] subra9minion opened #794 "Adding a resource to Binary Search"
I'm Rahul. I recently started going through the USACO Guide (Silver section) and I find this a very useful way for me to learn and get better at problem solving.
While I was practicing problems on Leetcode, I came across this [article on Binary Search](https://leetcode.com/discuss/general-discussion/786126/python-powerful-ultimate-binary-search-template-solved-many-problems), which contains lots o

[2021-02-18 00:22] bqi343 commented on #794
https://github.com/cpinitiative/usaco-guide/pull/795

Though most of it is already contained within the module / associated problems, and I don't like how it spoils so many of them. T.T

[2021-02-18 00:39] thecodingwizard commented on #511
Sure. Just be careful about security; use a firebase function or something ig.

[2021-02-18 00:40] subra9minion commented on #794
I understand. Thank you for the response! I'll be around looking for ways to help/contribute and make the guide better.

[2021-02-18 01:43] subra9minion commented on #794
Thank you so much for adding it!

[2021-02-18 01:43] #794 closed

[2021-02-18 07:26] Shad0wSeven opened #799 "Change logo font"
Most likely will get ignored, but the conflicting typefaces between almost all the elements, and the logo looks pretty unprofessional.

![image](https://user-images.githubusercontent.com/19739712/108318671-11485f00-7175-11eb-8adf-98b853941b73.png)

I use macOS so GitHub, and USACO Guide seem to use my System font, San Fransisco

**With a revised interface the UI could look more like this, without

[2021-02-18 07:26] Shad0wSeven commented on #799
USACO forumn seems to already do this so just wondering why its not cohesive?

[2021-02-18 16:26] #720 closed

[2021-02-18 16:27] mizlan opened #800 "Code folding for boilerplate"
This could help solve many of the problems experienced by templating and boilerplate. For example, fast I/O for Java such as discussed in #788. Code folding should probably be manual, not syntax or indentation reliant. Leaving this here for discussion, not sure how hard it would be to extend our codeblocks to support folding.

[2021-02-18 16:52] bqi343 commented on #799
@thecodingwizard ?

[2021-02-18 16:53] skittles1412 opened #802 "Stop using Kattio for Java"
This was discussed around [here](https://github.com/cpinitiative/usaco-guide/pull/788#issuecomment-781080676). Right now USACO Guide and its editorials use `Kattio` which is basically a `FastScanner` that subclasses `PrintWriter`

Advantages:
* Merges input and output class (this is really personal preference). I don't see any difference between `io.nextInt()` and `in.nextInt()` as well as `io.pri

[2021-02-18 16:58] bqi343 commented on #802
Isn't this a *good* thing? Can add some notes about what it's doing if it's not clear ...

Removing the `PrintWriter` would reduce the length by two lines, so I don't see where this is coming from.

ok, since there isn't any difference let's leave it as is :P

elaborate? not sure what you mean

Also, regarding your comment about `cio >>` vs `cio << `, I think this would be fine as long as the diff

[2021-02-18 17:03] mizlan commented on #802
I would like to emphasize the point that templates are already banned. In addition, my belief is that USACO Guide solutions don't need to aim to be as fast as possible, they should aim to be as readable and simple as possible while maintaining the correct overall algorithm. Further tinkering for speed boosts would be left to the reader.

[2021-02-18 17:04] skittles1412 commented on #802
You're just adding unnecessary barriers for beginners who want to begin competitive programming. Sure, they can learn OOP if they want but it shouldn't be because USACO guide input class **forced** them to

To be able to successfully reproduce it, you'll need to understand OOP (or you memorize it by brute force but that's more prone to errors), which goes back to my first point.

I mentioned some

[2021-02-18 17:06] mizlan commented on #802
Would a PR for #800 address some of your concerns @skittles1412?

[2021-02-18 17:07] skittles1412 commented on #802
`Scanner` should be avoided. It is simply too slow. I don't see how readability applies to a input class. If you choose to use Java unfortunately it will be part of your code. In addition, it should be encouraged imo as it's much easier and much more readable than simulating it with `BufferedReader` and `StringTokenizer`, and the syntax is virtually the same as `Scanner`.

[2021-02-18 17:10] skittles1412 commented on #802
It would definitely be an improvement for Java solutions, and I think the ability to hide/show the input class template would be great, but I'm more concerned about replacing `Kattio` with a better, more readable, easier to write, and easier to understand alternative.

[2021-02-18 17:22] skittles1412 opened #803 "Add editorial code requirements"
This applies to USACO editorials as well, really all editorials.

The point of editorial code is to provide a reference for an implementation of the ideas mentioned in the editorial, not for beginners to have to ask what it's doing on a discord server, and not for readers to have to split screen so they can view the macros on one side and the code on the other. Editorial code should be **as readab

[2021-02-18 17:42] skittles1412 commented on #802
@HarryWangATX I would like to move the discussion of Kattio here. How is combining the two classes easier? Specifically what's the difference?

Also googling isn't very sufficient. OOP is somewhat confusing at first and

Finally this is more of a minor issue but OOP isn't meant to merge two unrelated classes which is what Kattio is doing. Perhaps more apt uses of it would be more beneficial to tho

[2021-02-18 17:57] HarryWangATX commented on #802
For me, the difference is that kattio has i/o merged and organized into one class. I don't have to instantiate a bufferedreader and then a printwriter. Also for beginners, having the ability to work with a scanner syntaxed input is better than having them look at a bunch of Integer.parseInt()s and the use of stringtokenizer.

I do agree that OOP shouldn't merge two unrelated classes, but by what y

[2021-02-18 18:00] dolphingarlic commented on #803
What requirements do you propose?

[2021-02-18 18:01] skittles1412 commented on #802
I'm not sure if you have read through this thread yet. I mentioned replacing it with a `FastScanner` for scanner syntaxed input and [here](https://github.com/cpinitiative/usaco-guide/issues/802#issuecomment-781493034) is an example of not having to instantiate two classes. Really though the two are the same since Kattio is doing it in the constructor while this is doing it as a method.

For the th

[2021-02-18 18:18] skittles1412 commented on #803
No 200 line templates. Macros should be avoided; maybe `using ll = long long;` but other stuff like loop macros and the shortening of 50 different combination of primitives, vectors, and pairs should be removed. Don't use separate methods for initializing IO; just use three lines at the beginning of main. Really, just use this as your template and don't add other stuff.
[code]

Try your best to ma

[2021-02-18 18:27] dolphingarlic commented on #803
I agree with you about the templates (after all, they're against USACO rules now :P). However, I don't think that comments are necessary unless the problem a) involves casework or b) uses "complicated" maths (since the written solution above the code almost always already has the variable definitions, I think)

What do you guys think about requirements for spacing in code? (i.e. `for(int i=0i<n;i+

[2021-02-18 18:31] skittles1412 commented on #803
Comments are subjective. I think just add it for any code that you think readers might find confusing or use it as implementation notes that aren't mentioned in the editorial. I think I'll open a separate issue about formatting.

[2021-02-18 18:33] bqi343 commented on #802
As the module notes, you are free to refer to basic I/O code (w/o copy-pasting it).

It is readable/simple.

It isn't optimized for speed.

All beginners need to take away from this is that `io` is inheriting `PrintWriter` methods. If they don't want to learn additional OOP then they don't have to?

Why isn't this a valid use of OOP to add additional functionality to a `PrintWriter`? I wouldn't ca

[2021-02-18 18:33] skittles1412 opened #804 "Formatting code"
It was mentioned in #803 that perhaps we should add a code format style that authors should follow, or even add a code formatter which can be run against solutions. I think a style like [this](https://codeforces.com/blog/entry/64218) would be fine.

[2021-02-18 18:39] skittles1412 commented on #802
My main point is that I don't see any advantages to Kattio but it:
1. adds unnecessary confusion and forces beginners to learn syntax not really used in CP
2. is harder to write in contest

[2021-02-18 18:55] SansPapyrus683 commented on #804
Well, this only applies to C++. PEP 8 can probably be used for Python solutions.

Do you propose any style guide for Java?

[2021-02-18 18:57] mizlan commented on #804
We could also possibly integrate [EditorConfig](https://editorconfig.org/) to provide a general formatting guide that integrates with editors/IDEs.

[2021-02-18 18:58] skittles1412 commented on #804
For Python PEP 8 probably should be used. This style guide still applies to Java, and you can easily translate the points mentioned in it to Java.

[2021-02-18 19:17] bqi343 commented on #803
I agree that a lot of code needs to be replaced.

:eyes:

[2021-02-18 19:25] frodakcin commented on #803
Yea, agree with this, especially since guide is designed for beginners. In plat/cf div 1 editorials though, I don't think this matters at all.

[2021-02-18 19:30] thecodingwizard commented on #799
yeah, I should fix this at some point :/

(on an unrelated note, if people have better ideas for website logos, please let me know...)

[2021-02-18 19:31] thecodingwizard commented on #800
This is doable, though perhaps rather annoying to implement.

[2021-02-18 19:35] skittles1412 commented on #803
Why not? Regardless of problem difficulty editorial code should still be as readable as possible.

[2021-02-18 19:44] bqi343 commented on #803
I agree. For many of the plat / advanced internal solutions, I pasted my code without much concern for readability, but these aren't meant to serve as editorials. They're meant to be example solutions for platforms where submissions are not publicly viewable.

Doesn't matter to me as long as it's consistent as mentioned [here](https://usaco.guide/general/contributing?lang=java) (although I prefer

[2021-02-18 19:48] thecodingwizard commented on #802
To me, Kattio is helpful because it allows beginners to blackbox input/output code, and focus on the important things instead (like writing algorithms). I personally do not expect anyone to read through and understand the Kattio class.

- I don't really see how splitting up Kattio into `FastScanner` and `PrintWriter` will reduce the amount of boilerplate code needed.
- Kattio is related to i/o, an

[2021-02-18 19:55] frodakcin commented on #802
Side note: This also isn't very difficult

[2021-02-18 19:58] thecodingwizard commented on #803
I think Gold+ (Platinum+?) should be more lenient with some macros though...

Also, Ben's Github implementations all require a lot of macros...

I agree that we should standardize code style though.

[2021-02-18 20:02] bqi343 commented on #803
Just refer to [KACTL](https://github.com/kth-competitive-programming/kactl/tree/master/content) instead whenever possible?

[2021-02-18 20:11] thecodingwizard commented on #804
Are there any specific recommendations we should include in #805 that don't relate to templates/macros (which is being discussed in other issues)?

[2021-02-18 20:12] skittles1412 commented on #802
A `FastScanner` also blackboxes io similarly, but is easier to understand if you choose to do so.

The reason it's easier to remember is because you don't need an understanding of OOP. The amount of code is around the same for both ways.

Perhaps this should be clarified then. The current rules only allow for "syntax or library functions"

The main difference between the two is that Kattio require

[2021-02-18 20:13] SansPapyrus683 commented on #803
It'd probably take a lot of time, but I believe that we should just remove all the macros (save for `#include`s) except for things like `using ll = long long` or minor things like that.

There probably is a script out there that replaces macros with their defined things.

[2021-02-18 20:14] thecodingwizard commented on #802
I don't think that's too difficult...

---

I think I'm going to close this issue for now (though feel free to keep discussing) since it seems like the majority of content authors / core members seem to prefer sticking with Kattio...

[2021-02-18 20:14] #802 closed

[2021-02-18 20:21] skittles1412 commented on #803
Sure, but I feel like macros should be solely used for abbreviating types. Specifically I dislike loop macros, and while maybe `F0R` is fine there's a lot of variants of it that are not very readable imo.

Macros can be removed by first commenting out all the includes and then running `g++ -E` on the file. The result is spitted to stdout.

[2021-02-18 20:34] bqi343 commented on #583
closed by #754

[2021-02-18 20:34] #583 closed

[2021-02-18 20:35] bqi343 commented on #665
mostly done for bronze - gold, prob search page tags still broken though

[2021-02-18 20:35] #665 closed

[2021-02-18 21:26] thecodingwizard commented on #803
[code]

Perhaps we can just stick to this template for Bronze - Gold?

[2021-02-18 21:31] SansPapyrus683 commented on #803
To be honest, I don't think all those `#define`s are necessary. But the rest seems good enough to be readable.

[2021-02-18 21:39] frodakcin commented on #803
I guess it's more like: use defines if you want, but no more than those listed. It's obviously not necessary to add macros that aren't necessary.

[2021-02-18 21:41] HarryWangATX commented on #803
FOR F0R ROF??

[2021-02-18 21:44] HarryWangATX commented on #803
also should we go fix our previous sols?

[2021-02-18 21:47] skittles1412 commented on #803
This looks good to me.

I'd rather not have loop macros.

[2021-02-18 21:48] HarryWangATX commented on #803
😩😩 i think loop macros are fine tho

[2021-02-18 21:49] skittles1412 commented on #803
A lot of people (especially beginners) would like to disagree.

[2021-02-18 21:51] SansPapyrus683 commented on #803
Definitely. Otherwise, this issue loses half its purpose if it's only supposed to apply to new solutions.

[2021-02-19 01:46] thecodingwizard opened #806 "Improve C++ Template Usage"
For C++ code, especially for Bronze through Gold, we should use (at most) the following template:

[code]

Code can use fewer macros than above, but shouldn't use additional macros (in particular, for loop macros are highly discouraged in Bronze through Gold).

Any help removing macros/templates would be greatly appreciated! You can help by:

- submitting a PR (better)
- commenting which modules /

[2021-02-19 01:47] thecodingwizard commented on #803
See #806 -- seems like we've reached a consensus here! 🎉

[2021-02-19 01:47] #803 closed

[2021-02-19 02:09] SansPapyrus683 commented on #806
Perhaps we should mention this in the contributing module. Right now all it mentions is this:
![image](https://user-images.githubusercontent.com/55369003/108447303-7dc66b00-7214-11eb-98f6-0f392fd93807.png)

[2021-02-19 02:12] thecodingwizard commented on #806
this will be mentioned in the contributing module (at some point in the near future).

[2021-02-19 04:10] #366 closed

[2021-02-19 04:13] dolphingarlic commented on #553
Should we close this issue, since the popup is gone now?

[2021-02-19 04:14] nwatx commented on #553
sure

[2021-02-19 04:14] #553 closed

[2021-02-19 07:55] frodakcin commented on #711
I think this couldve been closed 9 days ago

[2021-02-19 07:55] #711 closed

[2021-02-19 08:16] tachithanhdanh commented on #806
https://github.com/bqi343/USACO/blob/master/Implementations/content/contest/TemplateVeryShort.cpp
maybe we can seperate the macros like this for readability (just ignore the setIO function).

[2021-02-19 12:42] bqi343 commented on #806
oops ig we can just use this template then (though I don't think anyone else uses `rsz`?)

[code]

[2021-02-19 13:45] MrinallU commented on #511
If someone else wants to work on this they can as I am already taking care of two issues.

[2021-02-20 05:03] dolphingarlic opened #812 "Make liveupdate use tabs instead of spaces"
Since we're using tabs instead of spaces in the guide now, I think liveupdate should automatically use tabs instead of spaces so that I don't need to ctrl-H to replace characters all the time.

[2021-02-20 05:05] dolphingarlic opened #813 "Hashing a tree"
Hashing a tree is a somewhat-useful technique (though it's very uncommon), and I think it would be nice to add to the guide. Here's a nice blog post about it: http://rng-58.blogspot.com/2017/02/hashing-and-probability-of-collision.html

Where would this technique fall under though? It doesn't feel right to be put under string hashing

[2021-02-20 15:46] nwatx opened #816 "liveupdate doesn't work with svg tags"
see #787

[2021-02-20 18:59] Shad0wSeven commented on #806
[code]
is also probably not needed, as `ifstream`/`ofstream` is good enough for bronze and silver, and it would make templates more verbose, you could just add a comment like "`//fastio possible` or whatever

[2021-02-20 19:50] dongliu0426 opened #819 "header not rendering in TOC"
![Screen Shot 2021-02-20 at 11 49 31 AM](https://user-images.githubusercontent.com/59348162/108606886-c8a9c500-7371-11eb-862c-23d0ea9f57a2.png)

[2021-02-20 19:50] dongliu0426 commented on #819
`<fstream>` is not rendering

[2021-02-20 20:31] dolphingarlic opened #821 "Internal solutions for USACO problems?"
So USACO problems all have editorials already, but I recently got this feedback on Discord:

(And when asked about specific problems):

How should we approach this? Do we write internal solutions for these problems, or can USACO update their editorials somehow?

[2021-02-20 20:41] SansPapyrus683 commented on #821
Uh... is there anything wrong with writing an internal solution for these problems?

[2021-02-20 20:45] thecodingwizard commented on #821
I think internal sol > update existing USACO editorial. We can copy paste and modify the official editorial if we want (and then just include a citation or something)

[2021-02-20 20:59] dolphingarlic commented on #821
I just think unnecessary internal solutions are a bit wasteful, but I guess it's fine if the official editorial is actually bad

[2021-02-20 21:35] fishy15 commented on #806
I think that it is a good idea to keep it, maybe move it directly into the main method instead of having it as a separate function. Having fast IO is something that should be in each program anyway.

[2021-02-20 21:44] fishy15 commented on #821
I do agree that having unnecessary internal solutions is wasteful, and the official editorials could simply be linked to. However, there are certainly problems that should have rewritten solutions (notably cowland comes to mind, I am not too familiar with silver editorials however).

An advantage with having internal solutions is that we can update them based on user feedback on what editorials th

[2021-02-20 22:00] bqi343 commented on #821
wow I wonder who wrote these??

(but srsly, please be more specific?)

[2021-02-20 22:02] bqi343 commented on #813
wow this blog is really popular

[2021-02-20 22:10] bqi343 commented on #813
if you want to put it in an optional block along after some explanation about the collision probability for strings, that's fine w/ me?

[2021-02-20 22:13] bqi343 commented on #812
Not sure what you mean. Doesn't liveupdate use tabs if the module uses tabs?

[2021-02-20 22:32] nwatx commented on #816
nevermind it's because of style

[2021-02-20 22:32] #816 closed

[2021-02-20 22:52] bqi343 opened #822 "Liveupdate Ruler"
To enforce the 80-char guideline.

[2021-02-21 00:37] #822 closed

[2021-02-21 00:37] #812 closed

[2021-02-21 00:43] thecodingwizard commented on #804
closing unless people have ideas... general code styles are mentioned in the contributing module anyway.

[2021-02-21 00:43] #804 closed

[2021-02-21 00:44] Shad0wSeven commented on #821
![image](https://user-images.githubusercontent.com/19739712/108612177-db84bf80-739a-11eb-97e4-9d10b3155257.png)
hey that was me :thonk:

[2021-02-21 01:13] #819 closed

[2021-02-21 01:13] SansPapyrus683 commented on #821
Of course, I 100% agree that some of the editorials are hard to understand. I feel like in the internal solutions, we could add on to the explanations by providing some sort of example.

For example, in Meetings, we could use the sample input and say "Consider the first cow. Notice that [insert explanation here]". I feel like that would be a great improvement.

[2021-02-21 15:45] skittles1412 commented on #821
On a similar note I think the editorial for [circular barn gold](http://usaco.org/index.php?page=viewproblem2&cpid=621) could be improved. It uses one incorrect, confusing, and ambiguous sentence to explain the core part of the solution (where to find the starting point). Although more explanations, examples, and maybe even pictures could be added on USACO Guide, I feel like incorrect solutions li

[2021-02-21 16:09] SansPapyrus683 commented on #821
Yeah, and there's a bunch of other solutions that could use further explanation. Perhaps something like a "request internal solution" button along with a form asking for a reason would help alot.

[2021-02-21 16:47] huynhtrankhanh opened #832 "potentially misleading description of `char` data type"
[This reference to 'Unicode characters' is potentially misleading.](https://usaco.guide/general/data-types?lang=cpp)

'Character' isn't a well defined concept in Unicode. Also the `char` data type in C++ can't represent a lot of Unicode 'characters'.

From what I've gathered a lot of character encodings try to mimic ASCII when possible so I'm not really sure if this is accurate or not but it sound

[2021-02-21 19:27] dolphingarlic opened #834 "Show C++ code if Java/Python code isn't available?"
From feedback on Discord:

This might be a problem if people don't expect the code not to be in Java/Python though (e.g. if they want to copy and paste), so how do you guys think we should approach this?

[2021-02-21 19:33] dolphingarlic commented on #834
Actually, selecting multiple languages and then showing the code in one of those languages if available is probably smarter.

E.g. if someone chooses Java and Python but only C++ code is available, then nothing is shown

[2021-02-21 20:25] bqi343 commented on #821
There's already a contact us form where you can request an editorial.

[2021-02-21 20:25] mizlan commented on #834
Can you have an option on the page similar to this: "no Java solution found; display C++ solution?"

[2021-02-21 22:16] #834 closed

[2021-02-21 22:49] bqi343 commented on #832
You're right.

Java: 16 bits

[Docs](https://docs.oracle.com/javase/7/docs/api/java/lang/Character.html):

CPP: 8 bits

[Source 1](https://www.learncpp.com/cpp-tutorial/chars/), [Source 2](https://www.cplusplus.com/doc/ascii/)

ASCII = 0-127, printing 128-255 just result in `?` for me

[2021-02-22 00:36] frodakcin opened #839 "Add submittable problem: LCS on Permutations"
https://github.com/cpinitiative/usaco-guide/pull/791

Is https://www.luogu.com.cn/problem/P1439 good enough or should we create new problem on polygon?

[2021-02-22 00:38] HarryWangATX commented on #839
isn't that chinese?

[2021-02-22 00:39] frodakcin commented on #839
It is

[2021-02-22 00:40] HarryWangATX commented on #839
let's do polygon imo

[2021-02-22 00:42] frodakcin commented on #839
sure

[2021-02-22 00:52] bqi343 opened #840 "Link to USACO FAQ"
https://usaco.guide/usaco-faq/

[2021-02-22 02:06] bqi343 opened #842 "Update easyquery, Fixed Length Paths Explanations"
https://forum.usaco.guide/t/help-to-understand-easy-query-solution/860/3

https://forum.usaco.guide/t/cses-fixed-length-paths-ii/854/3

[2021-02-22 03:49] #840 closed

[2021-02-22 05:17] dongliu0426 opened #844 "USACO Solutions file names"
- `USACO {contest} {name}.mdx` (e.g. `USACO dec16-cow-checklist.mdx`)
- `USACO {contest} {problemslug}.mdx` (e.g. `USACO dec19-milkvisits.mdx`)

opinions?

[2021-02-22 18:00] bqi343 commented on #844
slug is better (but recent problems don't have :/)

[2021-02-23 02:20] SansPapyrus683 commented on #844
NGL, spaces in filenames make me kind of uneasy (I think I read somewhere that they have plenty of problems associated with them), but I think that the second one would make solutions more easily searchable within the repo.

[2021-02-23 08:35] frodakcin commented on #800
Potential improvements:
 - add to documentation
 - make `renderTokens` less wordy
 - handle processing codeblock children better (right now trim() and split() are called multiple times for the same string)
 - visuals (icon, code snip replacement text style, etc)

[2021-02-23 14:56] TanishT commented on #806
I just went through the bronze section and some of the silver section (up to custom comparators) and made a list of the solutions that use too many macros. I found a bunch so I just wanted to share them so that more people can submit PRs to fix them which would everything go quicker.

Let me know if I made any mistakes.

Bronze
  - https://usaco.guide/solutions/usaco-665?lang=cpp
  - https://usaco

[2021-02-24 00:32] tachithanhdanh commented on #806
I think I can fix some of them by removing the macros and replacing with clean code. (Maybe when I have some free time)

[2021-02-24 03:05] thecodingwizard commented on #821
I think walking through a sample input like you mentioned would be most effective in a video solution. I personally think the text editorial is fine as is and does not warrant such changes, though I agree it would be nice if someone were to make a video solution that did contain an example.

[2021-02-24 19:28] SansPapyrus683 commented on #821
Well, if no one can do a video solution walking through the sample input, the second best thing would be to just do a text walkthrough.

[2021-02-25 19:02] thecodingwizard opened #860 "intro to sorting typo"
https://usaco.guide/bronze/intro-sorting?lang=cpp#dynamic-arrays

[2021-02-25 23:08] #860 closed

[2021-02-26 00:28] darren-yao opened #862 "Binary Jumping"
https://usaco.guide/plat/bin-jump?lang=cpp

Binary jumping LCA should be learned before O(1) Euler Tour +RMQ LCA, and furthermore, Binary Jumping LCA should be located in the Gold Trees section.

[2021-02-26 00:29] darren-yao opened #863 "POI 2004 Spies"
module link:https://usaco.guide/solutions/poi-04-szp?lang=cpp
Explain the optimizations to get from the MLE code to the AC code
specifically, turning the
`vi adj[mx]`
 into
`int adj[mx]`

[2021-02-26 00:30] darren-yao opened #864 "more gold dp problems"
"would it be possible to get more gold dp problems?" - nave (from USACO server)

[2021-02-26 00:30] darren-yao opened #865 "Coordinate Compression"
For silver, some explanation on coordinate compression would be useful, as it has shown up a few times in the past
I don't think it should be an entirely separate module, but some explanation within any of the present modules would be nice

-why#0726

[2021-02-26 00:31] darren-yao opened #866 "Functional Graphs"
Also, I don't think functional graphs are really optional? They've shown up 3 times so far, and 2 times in the past year, which is actually more frequent than 2D prefix sums I think, and that has a dedicated, nonoptional module -why#0726

I believe @caoash has talked about this in the past.

[2021-02-26 00:32] darren-yao opened #867 "Editorials for starred problems"
"add nice editorials for the starred problems (not all of them but AT LEAST the starred) "

-moo simp

[2021-02-26 00:32] darren-yao opened #868 "practice tests"
occasional practice tests for each division (problem quality doesn't need to be great, but at least make it representative)

-Apple Method

[2021-02-26 00:34] darren-yao opened #869 "gold All Roots"
module: https://usaco.guide/gold/all-roots?lang=cpp
problem: the given solution is kinda scuffed. i think the better way would be to find the diameter of the tree and run a dfs from the two endpoints of the diameter. here is my (also scuffed) code this with only one dfs function https://cses.fi/paste/2daccc0d7344cd731a4210/

- chessbot108#6397, on discord

[2021-02-26 00:35] darren-yao opened #870 "Better Editorials for Silver PRoblems"
"pleasepleaseplease add like really nice editorials for superhard silver problems, Im really dying on these and the normal editorials really suck please

well rn i really dont understand meetings moop and clock tree"

-moo simp, Dsicord

[2021-02-26 01:36] mizlan commented on #800
I have an alternative, easier-to-write and easier-to-read interface for code snippets in mind. We create a global reference file/directory for snippets (maybe at `usaco-guide/snippets/` and then inserting snippets would be as follows:

[code]

[code]

where `CodeSnippet{benq-template}` would point to `usaco-guide/snippets/benq-template.txt` or something along those lines.

This is easier to parse

[2021-02-26 01:42] dongliu0426 commented on #869
isn't tree diameter in plat?

[2021-02-26 02:00] Shad0wSeven opened #872 "Detemplate Back and Forth"
I am already in the middle of #850 and didn't feel like commiting and forcing the people that have spent so long agonizing over my terrible detemplating skills with another one, but I did back and forth, removed everything, fixed spacing, and works on the grader.

### Back and Forth (December 2018) De-Benqified

[code]

[2021-02-26 02:15] thecodingwizard commented on #872
Can you submit this as a PR?

[2021-02-26 02:25] thecodingwizard commented on #800
I'm fine with the above approach, but I also don't think it's necessary. I think there will only be two (maybe three) snippets that are shared across editorials: Benq's long template, Kattio, and (maybe) C++ short template, but C++ short is probably fine without being a snippet. These snippets also shouldn't change very often.

As long as there's only two to three "shared" snippets, it's probably

[2021-02-26 02:55] bqi343 commented on #863
Can you do it? :((

[2021-02-26 05:02] SansPapyrus683 commented on #870
I think this was already mentioned in #821, so there's probably no need to create a new issue for this.

[2021-02-26 05:04] SansPapyrus683 commented on #865
What present module should it be categorized under?

[2021-02-26 05:13] dolphingarlic commented on #865
Probably intro-sorting or something because it's about relative order

[2021-02-26 05:14] dolphingarlic commented on #869
Yeah I don't think this is a valid issue because the current solution demonstrates dp on all roots while their solution doesn't

[2021-02-26 07:35] Shad0wSeven commented on #872
Will do tmrw

[2021-02-26 12:33] bqi343 commented on #866
Are you counting dance mooves twice?

[2021-02-26 14:49] #870 closed

[2021-02-26 14:51] bqi343 commented on #869
Just add a note that the problem appeared previously and that this is an alternative solution.

[2021-02-26 14:51] bqi343 commented on #862
but all of the practice problems are plat :eyes: